[2016-01-27 19:43] BalestraPatrick opened #1 "Code should be provided inside a Playground"
Hey!

Great project and idea! I'm a computer science student and I'm sure many developers will find this repo very useful.
I was thinking that maybe it'd be better to provide the Swift code inside a Playground so people can start running an algorithm and play around with it right away. What do you think? 😀

[2016-01-27 20:11] hollance commented on #1
Thanks!

I might provide playgrounds too, but I also want to keep this readable on the web without having to go into Xcode. Unfortunately, playgrounds are hard to read on the web.

But definitely something to add! :-)

[2016-01-28 10:40] BalestraPatrick commented on #1
Sure, sounds good to me!

[2016-01-28 10:40] #1 closed

[2016-01-29 09:34] samirGuerdah opened #10 "CollectionType protocol conformance"
Hello,

I think adding to the Stack data structure the conformance to the CollectionType protocol, but a Stack has two principal opérations : push, pop.

What do you think ?

Thanks

[2016-01-29 10:08] hollance commented on #10
Interesting thought, but I'm not sure that's a great fit. `CollectionType` seems to do more than what a stack is designed for.

However, adding a generator might be useful...

[2016-01-29 16:59] samirGuerdah opened #11 "Add unit testing"
I think that we need unit testing to validate some complicated algorithms, even the simplest ones need testing to avoid regressions.

XCTests is not supported in playgrounds, hope that it will be in the future.
I think that we should organize the project to have a test target.

[2016-01-29 19:18] hollance commented on #11
Agreed. I think the simplest way to approach this is to add an Xcode project (OS X target) for the tests. It should use the existing source file.

I will add some unit tests later because I already have them for some of the algorithms.

[2016-01-29 19:59] hollance commented on #11
OK, I've added unit tests to a number of algorithms. Anyone who is willing to write tests for the rest is more than welcome to. :-)

[2016-01-29 20:32] samirGuerdah commented on #11
:+1:

[2016-01-29 21:31] samirGuerdah commented on #11
I think that the best solution is to create **an independent test bundle** ( Standolone test).
With independent tests, Test Bundle will be launched **on its own**, the application **won't be launched at all and there will only the test bundle loaded in memory**.

The inconvénients with the hosted tests ( the actual solution) :

1. Xcode launch the application ( applicationDidFinishLaunching will b

[2016-01-29 21:40] hollance commented on #11
That sounds good to me!

I'm not really thrilled with the current solution because of the same reasons you mention, so if you know of a better way to do it, then I'm all for it.

[2016-01-29 22:00] johnrufusj commented on #11
I think an independent test bundle would make more sense. But if you wanted to test within individual playgrounds, I think it is feasible.  Check out this post by @sshrpe regarding TDD inside playgrounds (http://initwithstyle.net/2015/11/tdd-in-swift-playgrounds/)  It is actually quite interesting.  The only thing I don't like about the solution is not having the ability to import the test separat

[2016-01-30 10:16] hollance commented on #11
It's an interesting idea, but I have no problem keeping the tests out of the playgrounds. Using a playground may be handy for developing new tests but in general I think tests and playgrounds serve two different purposes.

[2016-01-30 12:02] johnrufusj commented on #11
That makes sense.

[2016-02-05 20:39] MrMormon opened #29 "Sorting machine integers shouldn't take O(n log n)"
[Radix sort](https://en.wikipedia.org/wiki/Radix_sort) isn't even limited to integers.

[2016-02-06 09:28] hollance commented on #29
You're right. That's why have radix sort on the to-do list. :-)

If you have a version of radix sort in Swift and could write up an explanation of how it works, we'd be happy to have it!

[2016-02-06 16:40] EvgenyKarkan opened #31 "Let be friends"
Hi @hollance
Some times ago I decided to create very similar repo with ObjC code.
https://github.com/EvgenyKarkan/EKAlgorithms
Can we mention each other in our repos?
It would be great if we could be friends.
I guess it will be useful for community.

Best wishes.

[2016-02-06 16:51] hollance commented on #31
I like friends! I'll add your repo as a link to the main readme. :-)

[2016-02-06 16:52] EvgenyKarkan commented on #31
Great, thank you.
I will do the same asap.

[2016-02-06 16:52] #31 closed

[2016-02-07 15:46] hollance opened #35 "Removing root node on binary search tree is a bit wonky"
When removing a node with two children, the node you're calling `remove()` on stays in the tree. It's just given a new value.

When removing a node with 1 child or with no children, that particular node instance *is* removed from the tree. So this doesn't always work the same way.

Usually that's not a problem, except when the node you're calling `remove()` on is the root node. If the root only ha

[2016-02-07 18:23] hollance opened #36 "AVL tree improvements"
Some things that could be improved in the AVL tree:
- Explain how the rotations work.
- Unit tests. This is a fairly complex data structure so it would be good to have extensive tests.
- The code uses too much forced unwrapping.

[2016-02-15 07:16] kitgary opened #44 "Could you please add Treap data structure?"
It's very hard to find tutorials talking about [Treap](https://en.wikipedia.org/wiki/Treap), could you implement and teach it?

[2016-02-15 16:50] hollance commented on #44
Sure. It's something I still have to study myself so it might take a little while. :-)

[2016-02-15 20:28] goingreen commented on #44
The next structure I want to implement is actually treap. In my opinion, it's the most powerful data structure and it can solve many problems, so everyone should know it. Right now I'm a bit busy but I can implement it on the weekends.

[2016-02-15 21:34] hollance commented on #44
Sounds good to me!

[2016-02-18 20:54] rothomp3 commented on #44
I have a pure-swift treap implementation, I'd be happy to dig it up and share it when I get back to my Mac.

[2016-02-18 20:56] rothomp3 commented on #44
Just as a note, if I don't have time to write up an explanation of how it works, etc (I don't), would you prefer I just attach it here instead of doing a pull request? I have a red-black tree implementation too.

[2016-02-18 21:30] rothomp3 commented on #44
I'm going to do the PR, but I don't really expect it to get merged as-is haha.

[2016-02-19 10:35] hollance commented on #44
I'm happy to receive any code but I'd be even happier to also get an explanation. ;-) If you don't have time to write an explanation, then I'll take the code anyway. :-D

[2016-02-19 14:02] barbaramartina commented on #11
Hi guys, I just read this conversation. I've added PR https://github.com/hollance/swift-algorithm-club/pull/46 with some unit tests for _Array2D_ and _AVLTree_. You can comment directly there with any suggestion.

[2016-02-19 19:52] hollance commented on #11
I have changed all the unit tests to be just test bundles, without host application.

I want to keep the tests inside the folders for the algorithm it belongs to, instead of one big test project. This helps to avoid naming collisions for when multiple data structures use the same name (`TreeNode` for example).

[2016-02-19 20:55] barbaramartina commented on #11
Cool. That make sense. I have added the main project as a possibility in the future to make some examples application with a visual feedback. But it's better to keep it simpler , +1

Sent from my iPhone

[2016-02-23 09:23] #29 closed

[2016-02-23 09:23] #10 closed

[2016-02-26 15:31] lorentey opened #52 "Gratuitous plug: production-quality implementations"
I have made production-quality Swift implementations of some common algorithms and data structures.
Some/all of them might be a bit too complex for educational use, but feel free to use them as you like.
(Or it might be useful to link to them, to illustrate the work necessary to make stuff feature complete, reusable and performant.)

- [Arbitrary precision integers](https://github.com/lorentey/Big

[2016-02-26 15:44] hollance commented on #52
Thanks. I'll definitely take a look at those. :-)

[2016-02-26 16:46] Hout opened #53 "GCD recursive"
By making the GCD function recursive, there is much more clarity and it justifies the text better than with the while loop:
[code]

[2016-02-26 18:12] hollance commented on #53
Personally I prefer iteration over recursion, but I'll add your version to the description. Thanks!

[2016-02-27 08:54] Hout commented on #53
What we are discussing is a procedural loop vs recursion not iteration vs recursion. I think indeed that the loop is more efficient with fewer stack operations. IMHO A recursion can express the basics of an algorithm better:
- start condition
- repeating iteration
- stop condition

I will get my HTS books from the attic this week to get it justified by a proper rationale.

[2016-02-27 16:13] hollance commented on #53
OK, I've added a recursive version to the description. :-)

[2016-02-27 22:47] jherna37 opened #54 "Bubble Sort"
Hey!
I'd like to write a guide and provide an example for Bubble Sort. Though I agree we shouldn't have to learn it, I'd like to use the opportunity to familiarize myself with GitHub and continue to contribute this project.
Thanks

[2016-02-28 11:41] hollance commented on #54
Of all the algorithms you could choose... ;-)

I'd prefer it if you'd pick something else, maybe radix sort or something. But if you must do bubble sort, create a pull request for it, and we'll see...

[2016-02-28 23:55] Hout commented on #53
Looks nice!

[2016-02-28 23:55] #53 closed

[2016-02-29 16:58] Emasoft opened #59 "Please add some graph layout algorithms from the Open Graph Drawing Framework (OGDF)"
An important field of algorithm missing from the examples implementations in Swift is the field of graph algorithms. You can find many algorithms in the Open Graph Drawing Framework (OGDF). It is a popular open source C++ library of algorithms and data structures for graph drawing.

http://cs.brown.edu/~rt/gdhandbook/chapters/ogdf.pdf

http://www.ogdf.net

Please add some graph algorithm examples

[2016-02-29 17:46] hollance commented on #59
This repo is still quite young and we just haven't gotten to the graphs yet (although some stuff is in the works).

Thanks for the link to OGDF, that looks very useful!

[2016-03-01 00:57] prankymat opened #61 "AVL Tree bug"
AVL Tree will crash with following conditions:

[code]

There are other combinations of remove that will crash. Examples:
[code]

Swift was trying to unwrap a nil reference in ```delete```, causing the program to crash.

Please advice thanks!

[2016-03-01 08:58] hollance commented on #61
This does not surprise me. The AVL Tree implementation was written by someone new to Swift (if I recall correctly) and may still have some issues.

If you're an expert on AVL trees, feel free to take a look at the code and improve it. In any case, it's near the top of my to-do list of things to improve.

[2016-03-03 19:21] johnsgill3 opened #67 "Write more detailed k-Means Step-by-Step Explanation"
It would be great if there was a bit more explanation of how the code actually works. The illustrations are very useful already, but a step-by-step explanation of the logic would also be good to have. :-)

#51

[2016-03-05 12:18] mitghi commented on #61
I've checked it, you are right. There seems to be a bug in `delete()`. The problem is caused by a wrong increment to balance factor. I test it and try to fix the bug and will report here.
Thanks

[2016-03-09 13:33] hollance commented on #52
Good stuff! I added the link to the "Learn more!" section.

[2016-03-09 13:33] #52 closed

[2016-03-09 21:15] nekonari opened #72 "Finding intersection of two arrays of integers"
This actually was asked by a hiring manager at Apple:

"Given two arrays with integers, find integers that are in both arrays."

And of course, there are:
1. Brute force (O(n^2)
2. Sort an array + Binary search (O(n log n))
3. Create hash table of one + find matches (O(n))

[2016-03-10 09:15] hollance commented on #72
Hiring managers sure love hash table questions. :-)

[2016-03-11 02:26] makthrow opened #74 "binary search question"
func binarySearch<T: Comparable>(a: [T], key: T, range: Range<Int>) -> Int? {
  if range.startIndex >= range.endIndex {
    // If we get here, then the search key is not present in the array.
    return nil

Can you answer why startIndex is >= endIndex rather than =   ?
I can't think of a situation where startIndex will ever be bigger than endIndex.

[2016-03-11 09:42] hollance commented on #74
Paranoia. ;-) It might have been because I originally wrote it the other way around,

[code]

And then I flipped the logic and turned `<` into `>=`. You can see that's how the iterative version still does it.

But you're right, the startIndex will never be greater than the endIndex. If that were the case, Swift would already give an error message because you can't do something like `10 ..< 9`. Tha

[2016-03-12 23:29] makthrow opened #75 "Select Minimum Maximum questions"
There are two implementations of min/max, both of which are O(n).
Is there any reason to choose the second algorithm (comparing in pairs) over the first?

And, for swift's minElement() and maxElement(),
[code]
Did they use the first algorithm (one-by-one comparison) or the second (pair comparison)?

[2016-03-13 13:06] hollance commented on #75
**O(n)** is a rough estimate of how fast a particular algorithm is. But one **O(n)** algorithm can be easily 10x faster than another **O(n)** algorithm on the same set of data. The only true way to find out which is faster (or better in some other sense) is to do performance tests in your app on actual hardware.

As for Swift's `minElement()` and `maxElement()`, good question! According to the doc

[2016-03-14 08:57] makthrow commented on #75
thanks for the help!

So , they went with the slower one? Why would they do that, when the second one is faster (and therefore I assume, superior) in every instance?

[2016-03-14 16:32] hollance commented on #75
By the second one you mean the code that calculates both min and max at the same time? That one is slower than just looking for min or max.

Or do you mean the k-th largest selection algorithm? Whether that is actually faster in practice depends on a lot of factors, such as:

- the size of the array: in practice most arrays are small and therefore a simple algorithm will be faster than a more comp

[2016-03-14 17:03] makthrow commented on #75
Oh right, I didn't take that into account.. thanks for the help!
BTW your Swift code looks great.. I'm learning a lot :)

[2016-03-16 18:28] prankymat commented on #61
Please refer fix to #81

[2016-03-17 20:25] Satre95 opened #83 "Ternary Search Tree"
Currently working on this.
- [x] Create TST with insertion and find supported
- [x] Document source code
- [ ] Write README explaining the data structure, its uses, and its pros and cons.

[2016-03-18 10:03] hollance commented on #61
W00t. I added the above test case to the tests.

[2016-03-18 10:03] #61 closed

[2016-03-18 19:00] #54 closed

[2016-03-19 13:57] hollance commented on #67
Done. :)

[2016-03-19 13:57] #67 closed

[2016-03-19 14:42] hollance opened #85 "BoundedPriorityQueue confusion"
Hey @johnsgill3,

I was trying to clean up your BoundedPriorityQueue a little but now I'm horribly confused...

Is this supposed to be a min- or max-priority queue? From the description I gathered it was a min-priority queue, so the item with the lowest priority value would be the most important and therefore be at the front of the queue.

However, in the implementation the item with the highest p

[2016-03-19 17:57] hollance commented on #85
Here is my implementation of BPQ using a linked list: https://gist.github.com/hollance/774fa4918d699f18958a

It's a max-priority queue. If you insert an item when the queue is full, it drops the one with the lowest priority.

Is this what you had in mind?

[2016-03-20 10:35] hollance commented on #35
Fixed in https://github.com/hollance/swift-algorithm-club/commit/6449a785bbf8005a5682934cb19bac7f8d3baff3

[2016-03-20 10:35] #35 closed

[2016-04-04 15:10] barbaramartina opened #97 "When creating playgrounds do not copy and past the swift files inside the playground"
Hi guys, I've seem some of the algorithms are copy-pasting the code inside the playgrounds in order to access to it. For example [Bloom Filter](https://github.com/hollance/swift-algorithm-club/blob/master/Bloom%20Filter/BloomFilter.playground/Contents.swift).

I'd say it's better to include the files we develop for the algorithms inside the playground's sources folder.

This can be achieved doing

[2016-04-05 10:01] barbaramartina opened #99 "Adding Wikibook Algorithms Implemention book to the main README"
I've found a [book on Wikibooks about algorithms implementation](https://en.wikibooks.org/wiki/Algorithm_Implementation), which I think it's worthy to include in the main README.
The goals of the book is to collect several algorithms and documentation, it's unifying information from wiki articles and wiki source code.
Let me know what do you think about the book, and I'd add it to the main README.

[2016-04-05 15:58] hollance commented on #97
A lot of the algorithms already do this but not all of them. Personally, I've been putting the algorithm in the playground's Sources folder if it's kinda big but if it's only a few lines then I put it directly into the playground.

Unfortunately, it means copy-pasting between the .swift file and the playground by hand if you make any changes.

[2016-04-05 16:02] hollance commented on #99
Sure, feel free to add it to the readme. More links is better! :-)

[2016-04-05 22:18] joaopaulogalvao opened #100 "typealias Element in the HashTable section"
In the HashTable section, while applying it on a new project file, I noticed that `private typealias Element `, with uppercase E, in this part:

[code]
seems to be the same one used in the `for-loop` in the `updateValue` function here :

[code]
It works fine on a couple of tests I tried, but is `element` referencing `Element` somehow? I could not get it. If it is a typo I can submit a pull request

[2016-04-06 09:31] hollance commented on #100
`Element` is the name of the type. In the for-loop, `element` is a variable that contains an object of type `Element`. So they are two different, but related, things.

In the for loop you could call it something else, `for (i, e) in buckets[index].enumerate()` and it will still work. So the fact that it's also called "element" is not really that important.

[2016-04-06 12:20] barbaramartina commented on #99
great!

[2016-04-06 13:11] joaopaulogalvao commented on #100
That is great, got it.
Thanks a lot for the explanation.
I will go ahead and close this thread.

[2016-04-06 13:11] #100 closed

[2016-04-06 22:23] axptwig opened #101 "Cant get Binary Tree to compile"
Hey Matthijs,
I am pretty new to swift and I have been looking to contribute to this repo as a learning experience. Right now i am taking a look at the Binary Search Tree implementation and in both solution 1 and 2 when i try to compile the playground contents.swift file, it gives me and unresolved identifier error for Binary Search Tree, i was wondering if you could help me understand why this is

[2016-04-06 23:24] axptwig commented on #101
also could you tell me how to import the modules you used such as foundation and XCTest? I am running Ubuntu14.04 and am not exactly sure what i need to do to make these statements work.

[2016-04-07 07:40] hollance commented on #101
The idea of a playground is that you don't need to compile it yourself. Of course, if you're running Ubuntu, then playgrounds won't work. In that case you'll have to compile Contents.swift but also Sources/BinarySearchTree.swift (from the playground folder).

Unfortunately, I have no experience with Swift on Ubuntu, so I can't really help you in more detail.

[2016-05-03 09:15] leetal opened #108 "Shortest path algorithm (weighted)"
I think a weighted variant of the shortest path algorithm would fit this great repository as well. Perhaps implementing Dijkstras or Bellman-Fords (allowing negative vertices) would yield usability for people trying to learn algorithms and also want a way of calculating the shortest, most cheap path from a given node to all others.

Just a thought 👍

[2016-05-03 09:44] hollance commented on #108
Absolutely!

[2016-05-08 02:43] armcknight opened #110 "Xcode version"
Any plans to upgrade the Xcode version set in travis?

[2016-05-08 06:53] armcknight opened #111 "Dependency managers"
Are there any plans to make this available through carthage, cocoapods or SPM? This may dictate how we set up our submissions. Some want library/framework targets, others want a file/directory structure (SPM).

[2016-05-08 10:02] hollance commented on #111
The primary purpose of this repo is to educate, not to be a library of production quality algorithms that are ready for plugging into apps. So I don't feel there is much value in making it available as a package through a package manager.

[2016-05-08 10:04] hollance commented on #110
I guess that should be 7.3 now, but there aren't that many differences between 7.2 and 7.3 when it comes to Swift so it's no big deal to leave it at 7.2 either. ;-)

[2016-05-08 13:35] armcknight commented on #110
I was not able to compile my code, because I'm using the new `associatedType` keyword in my protocols. Good news is, everything else still seems to work ok!

[2016-05-08 13:45] armcknight commented on #111
I respect your wishes, and am still excited about adding more stuff here. Admittedly I had allusions of contributing to something like the beginnings of the Boost library for Swift ;)

[2016-05-08 14:20] hollance commented on #111
There is no reason why you can't set up a SwiftyBoost repo yourself. :-) Or even contribute to the official Swift stdlib now that it is open source. ;-)

[2016-05-08 14:22] hollance commented on #110
Ah OK, that makes sense. I think that was the only major change between 7.2 and 7.3.

[2016-05-08 14:26] #110 closed

[2016-05-08 14:27] armcknight commented on #111
That is a good idea as well--serious fame! I hope you don't mind if I shop my submissions around elsewhere. Keep up the good work here!

[2016-05-08 14:27] #111 closed

[2016-05-09 17:04] armcknight commented on #108
Just saw this, wanted to drop a note that I'm currently working on this at #112!

[2016-05-23 00:04] prankymat opened #120 "Travis CI not enabled"
There is a link to build status at the bottom of README.md. However the link is not valid as the project is not found on Travis CI.

Is this project dropping support for Travis CI? If so please remove the build status badge. Thanks!

[2016-05-25 11:07] chris-pilcher commented on #120
Thanks! This has been fixed in #115.

This project is not dropping support for Travis CI. The repository was moved from github.com/hollance/swift-algorithm-club to github.com/raywenderlich/swift-algorithm-club which broke the build status badge.

[2016-05-25 11:07] #120 closed

[2016-05-25 11:21] #101 closed

[2016-05-25 16:12] madhavajay opened #123 "Super cool, maybe add to hackerrank.com"
This is really cool, do you think it would be nice to add all of these to a hackerrank.com as a challenge so that people can work on them and keep score using the hackerrank.com system?

[2016-05-26 09:26] chris-pilcher commented on #123
Thanks for the suggestion! This looks like a really useful site. We're pretty busy trying to get the repository into a clean state at the moment. Once that's done we will have a look into hackerrank.

[2016-05-26 09:26] #123 closed

[2016-05-27 01:39] kelvinlauKL commented on #74
Going to close this issue because the question has been answered!

[2016-05-27 01:39] #74 closed

[2016-06-01 09:48] chris-pilcher commented on #85
The implementation of BPQ was updated in #124.

[2016-06-01 09:48] #85 closed

[2016-06-02 16:37] barbaramartina opened #129 "Code snippets for simply drag&drag algorithms and data structures"
Hi guys, I've added to my personal collection, some data structure and algorithms as code snippets.
https://github.com/barbaramartina/swift-code-snippets/commit/49572e01161ded6e53a58c01753f2b4ca4645981
I was thinking if code snippets could be added to this repo, and how useful it would be. Due to probable changes in the implementations, if we don't have the snippet generation done automatically, t

[2016-06-02 22:44] kelvinlauKL opened #130 "Add comments and link to data structures that the reader needs to use"
For instance, the breadth first search algorithm uses the `Queue` data structure that is presented in the `Queue` article. I think we should add a note and a link to the article for convenience and to prevent confusion for the reader.

[2016-06-02 22:47] kelvinlauKL commented on #129
Sounds like a great idea for a future update 👍 Thanks for bringing it up @barbaramartina!

[2016-06-02 22:48] kelvinlauKL commented on #83
Hey @Satre95, how's this coming along?

[2016-06-02 22:50] kelvinlauKL commented on #99
This has since been added, so I'm closing this issue to clean this repo up a bit! Thanks @barbaramartina

[2016-06-02 22:50] #99 closed

[2016-06-02 22:57] barbaramartina commented on #129
I'm open to discuss/ analyze / implement alternatives for achieving that any time. Just let me know. For the moment I'll keep updating my collection with the other algorithms.

[2016-06-02 22:58] Satre95 commented on #83
Hi @kelvinlauKL
Sorry about this, I got busy with college and and totally dropped the ball. The TST itself is completely operational, and I have written documentation comments, but the README and description docs need to be written.

[2016-06-02 23:00] kelvinlauKL commented on #83
Thanks @Satre95!

Just checking in. We're in the process of cleaning up the inactive issues to make room for new contributions. Are you still interested in writing it?

[2016-06-04 07:53] #130 closed

[2016-06-04 08:03] chris-pilcher commented on #11
Unit tests have been added to a number of the algorithms. We will keep working to improve the test coverage. Please feel free to create issues for any specific algorithms where you think tests could be improved.

[2016-06-04 08:03] #11 closed

[2016-06-04 08:07] chris-pilcher commented on #44
Thanks for PR #45 @rothomp3! 😄 I will close this issue since you've submitted a PR.

[2016-06-04 08:07] #44 closed

[2016-06-04 08:10] chris-pilcher commented on #72
Thanks for the question nekonari! Since this issue hasn't had any comments for 3 months I'm going to close it. Please feel free to raise new issues/ask questions 😄

[2016-06-04 08:10] #72 closed

[2016-06-04 08:11] chris-pilcher commented on #75
Thanks for the question makthrow! Please feel free to raise new issues/ask questions 😄

[2016-06-04 08:11] #75 closed

[2016-06-04 08:17] chris-pilcher commented on #108
Thanks for the suggestion @leetal! I'm going to close this issue because we have a related pull request. Please feel free to raise any additional issues/suggestions for improvement!

[2016-06-04 08:17] #108 closed

[2016-06-05 01:12] armcknight commented on #97
There's an alternative: put all the algorithm related stuff into a framework target, and import the module in the playground. Then, place the xcodeproj that builds the framework into an xcworkspace with the playground at the sibling level. This eliminates all duplication. Check out the all-pairs shortest paths project to see what I mean if it's unclear.

[2016-06-05 18:55] Satre95 commented on #83
I am. I will be done with classes in another week, so I can write the README then

[2016-06-07 03:57] kevinrandrup opened #133 "Documentation comments"
Comments in the current style are not parsed by Xcode and do not show up in Quick Help. Comments must either be preceded by `///` on each line or start with `/**` and end with `*/`. Both alternatives listed below are parsed by Xcode and show up in Quick Help.

Reference:
1. Quick [NSHipster article] (http://nshipster.com/swift-documentation/)
2. Full [Markup Formatting Reference](https://developer

[2016-06-07 09:49] chris-pilcher commented on #133
Thanks for the suggestion @kevinrandrup.  Supporting quick help would be great! I like option 2.

It would be awesome to have your help 👍

[2016-06-08 14:31] kevinrandrup commented on #133
Option 2 would require less changes but I would tend to follow Apple's lead when possible. What's your motivation for Option 2? It might be something to add to the [style guide](https://github.com/raywenderlich/swift-style-guide#comments) as well.

[2016-06-08 16:33] dkliman opened #137 "Please implement polygon making algorithms such as the two peasants method?"
for games like asteroids and other stuff... that would be cool.

[2016-06-08 20:21] jarrydfillmore commented on #133
+1!

[2016-06-09 08:46] chris-pilcher commented on #133
I'm open to either option as long as it's consistent. Following Apple's lead makes sense. Let me ask some of the other team members for their input 😄  I'll get back to you asap.

[2016-06-09 17:25] kelvinlauKL commented on #133
I'm a bit torn between the two options. I'm biased towards '/** */' because that's what I've been doing ever since I've known about how to leverage the quick help inspector.

On the flip side, Apple uses `///` and given that they've been using that for the entirety of the Swift repo. Going to bring up the issue in the Swift style guide guys.

[2016-06-09 18:12] aquarchitect opened #140 "A Website?"
I wonder whether you have a plan for a website on this repo, maybe with gh-pages.

[2016-06-10 00:17] kelvinlauKL commented on #140
At www.raywenderlich.com we'll be doing monthly articles on featured algorithms from this repo, so watch out for that!

[2016-06-10 01:02] JaapWijnen opened #141 "Error in modulus operator result"
There's an error in the readme of the fizz buzz algorithm found here: https://github.com/raywenderlich/swift-algorithm-club/tree/master/Fizz%20Buzz

A table giving example results of using the modulus operator shows that 1/3 results in 0 with a remainder of 3. This should however be 0 with a remainder of 1. and thus the modulus result in the last column of the table should also be 1 instead of 3.

[2016-06-10 01:44] aquarchitect commented on #140
@kelvinlauKL awesome thanks. I didn't know that was the plan.

[2016-06-10 01:44] #140 closed

[2016-06-10 01:44] chris-pilcher commented on #141
Thanks for raising this issue @JaapWijnen. I've just fixed results table.

[2016-06-10 03:31] JaapWijnen commented on #141
Ok so this issue can be closed ;) no problem

[2016-06-10 03:31] #141 closed

[2016-06-11 12:35] timvermeulen opened #144 "Stack pop function is unnecessarily complex"
Instead of
[code]
we can just do
[code]

[2016-06-12 03:12] chris-pilcher commented on #144
Thanks for the suggestion @timvermeulen! 👍  I've added PR #145.

[2016-06-12 03:22] chris-pilcher commented on #137
Thanks for the suggestion @dkliman! It would be nice to have a section for graphics algorithms etc. 👍

I would happily include graphics algorithms in the repo if anyone would like to contribute.

[2016-06-12 12:46] dkliman commented on #137
I'd really like to see this one. Since yesterday this problem has taken me down a winding road, a path, if you will, of Bézier curves and parallel curves, which cannot quite be bezier which might construct things such as roads... Turns out the math gets pretty complicated... There is definitely a place for road and generic path drawing algorithms, I think.

[2016-06-13 22:13] kelvinlauKL commented on #133
Given the new auto doc improvements in Xcode 8, I think we should use `///` for our comments for the quick look inspector.

[2016-06-14 09:16] #144 closed

[2016-06-14 10:01] Jxrgxn opened #147 "Manacher’s Algorithm -- Swifty Implementation"
I want to contribute my Swifty implementation of [Manacher's Algorithm](https://en.wikipedia.org/wiki/Longest_palindromic_substring) . I searched and didn't seem to find anything in the code--but I've been wrong many times before.

[2016-06-14 10:23] chris-pilcher commented on #147
Sounds like a great idea @Jxrgxn! It would be great to have this algorithm included in the repo. 👍

Take a look at the [how to contribute](https://github.com/raywenderlich/swift-algorithm-club/blob/master/How%20to%20Contribute.markdown#please-follow-this-process) page for instructions on including a new algorithm.

[2016-06-16 09:26] chris-pilcher commented on #147
I'm going to close this issue because PR #149 has been opened. Thanks!

[2016-06-16 09:27] #147 closed

[2016-06-16 14:59] globant-nirmal commented on #133
I myself follow option2 as it is more readable and easy to update.

[2016-06-18 02:09] kelvinlauKL commented on #133
We'll wait for the dust to settle when Xcode 8 comes closer to roll out. Let's keep this in mind and defer the improvements when it's time to update the repo to Swift 3.

[2016-06-19 11:58] farzadshbfn opened #153 "Binary Indexed Tree (Fenwick Tree)"
Since you've added SegmentTree, I think it's good to add [Fenwick](https://en.wikipedia.org/wiki/Fenwick_tree) too, they differ on speed and some usages.

[2016-06-28 02:32] singcodes opened #155 "I want find middle ( or more close to middle) value not median value. is this exist?"
let a = [11.0, 2.0, 5.0, 9.0, 10.0, 10.0, 1.0]
a's median value is 9.0
but that's not my purpose, I want find value the most close to middle value between 11.0 and 1.0, and it would be 5.0

Is this exist algorithm?
If may not being. I want update that.

[2016-06-28 14:37] chris-pilcher commented on #155
Hi @singcodes,

Could you calculate the mean of `a` and then find the element in `a` that is closest to the calculated mean? E.g.

[code]

[2016-06-28 14:41] singcodes commented on #155
😆 yeah, that's right. thanks! @chris-pilcher.

[2016-06-28 14:41] #155 closed

[2016-06-28 19:34] chris-pilcher commented on #153
Thanks for the suggestion @farzadshbfn! 👍 I would be happy to include the Fenwick Tree data structure in the repo if anyone would like to contribute.

[2016-06-28 22:02] farzadshbfn commented on #153
I'd give it a try ;)... it's not the code that needs time... it's ReadMe 🙃

[2016-07-02 08:20] timvermeulen opened #159 "Why are Queue and Deque implemented using an array, rather than two stacks?"
The Deque page even mentions that a deque can also be implemented using two stacks rather than one array. Using two stacks is a lot easier because you don't have to deal with getting rid of empty space at the front, and I bet that makes it faster as well. What's the point of using a single array?

[2016-07-02 11:55] hollance commented on #159
Simplicity. Queue and Deque are abstract datatypes, so they can be implemented in many different ways. It doesn't get much simpler than using an array.

That said, feel free to contribute a version that uses two stacks. :-)

[2016-07-02 15:44] timvermeulen commented on #159
The naive implementations using an array are simplistic for sure! But I wouldn't really call the more efficient implementations simplistic. 😜 They keep track of the index of the first element and they need logic for removing unused space.  Using two stacks is definitely more simplistic than that.

[2016-07-04 17:11] kelvinlauKL commented on #159
We're always looking for contributors @timvermeulen :)

[2016-07-05 10:06] Adekunle77 commented on #159
Hi there I am just started to learn Swift. Do you think swift-algorithm would be too advanced for me?

[2016-07-05 10:24] Adekunle77 opened #160 "swift-algorithm, is it for beginners?"
Hi there I am just started to learn Swift. Do you think swift-algorithm would be too advanced for me?

[2016-07-05 11:11] Jxrgxn commented on #160
Nope. There's stuff as simple as linked-lists and the two-sum problem to
all the way to AVL Trees. Give it a shot!
ᐧ

On Tue, Jul 5, 2016 at 5:24 AM, Adekunle77 <notifications@github.com> wrote:

[2016-07-05 14:15] Adekunle77 commented on #160
Where do I start? Or how do I use it?

[2016-07-05 16:04] kelvinlauKL commented on #160
There are a few data structures that serve as a basis to many others:

* stacks
* queues
* trees
* linked lists

For beginners, understanding those should be regarded as a prerequisite to most of the other articles.

Some of the articles are pretty advanced in the sense that the authors uses some relatively advanced Swift operations that I would not expect a beginner to understand, but googling th

[2016-07-13 02:54] ycadin opened #162 "Quadtree ? Octree ?"
Hello,

Do you plan to implement Quadtree and Octree?

Regards

[2016-07-17 00:15] kelvinlauKL commented on #162
I'm personally not familiar with those 2, but if you know them, I'd love to have them in our repo.

[2016-07-19 00:15] ycadin commented on #162
Sorry but if I know the outline, I don't know how to implement them to be
efficient.

2016-07-17 2:15 GMT+02:00 Kelvin Lau <notifications@github.com>:

--

Sincèrement,

Yannick Cadin

Diablotin - La formation Unix, Linux, xBSD, OS X, Solaris, AIX, HP-UX

[2016-07-24 12:02] mayurtolani opened #169 "access rights of array vaiable"
why is it that i can access, array variable outside the class?
I am new to swift, but when i was in java, i coudn't access a private variable outside the class.
here, in playground, i am using the array variable and functions like popLast() in Queues which completely looses the meaning of a Queue.
`var que = Queue<String>()`
`que.enqueue("Mayur")`
`que.enqueue("Tolani")`
`que.array //this is priva

[2016-07-24 12:05] Jxrgxn commented on #169
I reckon struct versus class diff
On Sunday, July 24, 2016, Mayur Tolani <notifications@github.com> wrote:

[2016-07-24 14:11] madnik opened #170 "Merge sort can be further optimized."
I tried to implement merge sort manipulating original array itself rather than allocating new arrays within sub problems.

https://gist.github.com/madnik/924168b045f57f94183908a0bc1010e9

Appreciate discussion and conclude the best.

[2016-07-27 11:08] hollance commented on #170
You say "optimized" but what exactly do you mean by that?

You have made the merging in-place so it only uses one array, but your merge operations do:

[code]

The time complexity for `array.removeAtIndex()` and `array.insert(atIndex)` is O(n), not O(1). So you've traded space for time.

In other words, your implementation uses less space but more time. It is more optimized in space use but less o

[2016-07-27 11:09] hollance commented on #169
`public` and `private` work differently in Swift than in Java.

[2016-07-27 16:07] madnik commented on #170
Sorry for issue subject not being descriptive enough.

Thanks for pointing out the complexity of removeAtIndex() and insert methods. Shifting elements make the complexity O(n)

[2016-07-28 00:24] #170 closed

[2016-07-29 15:35] timcamber opened #171 "Visualization of Algorithms in Playgrounds / Cocoa / Swift"
Love the repository, it's been very useful in my recent learning endeavors. Being a professional iOS developer without a CS background, I've been looking to increase my understanding of foundational CS topics like algorithms and data structures.

I really like the [Algorithm Visualizer](http://algo-visualizer.jasonpark.me/#path=backtracking/knight's_tour/basic) linked in the README, and also reall

[2016-08-01 07:43] kelvinlauKL commented on #171
Glad you're liking it!

I've thought of building a visual tool for the club, but have been swamped lately. I think you're the first to suggest to work on it. If you're up for the task of visualizing an algorithm using playgrounds, I think we'd all be grateful 👍.

Playgrounds are pretty powerful and I can see it being a great tool for visualizing the algorithms. I'll try to see what I can come up w

[2016-08-01 16:52] timcamber commented on #171
I may or may not have time but it's definitely something that interests me!

What tools are used (generally) to create the static visualizations in the `README` files for the files in the repository?

[2016-08-03 14:32] hollance commented on #171
A while ago I've done some visualizations in playgrounds for sorting algorithms. What I did was draw stuff into an `NSView`. As you dragging the timeline scroller, the `NSView` would get updated. I'm not sure this is still possible since the timeline scroller has since disappeared from playgrounds?!

A simple visualization is to put values into an array and then let the playground draw the array.

[2016-08-05 09:03] EvoIos opened #175 "Ambiguous reference to member 'init' at line:12 in HashTable.playground"
When I open the playground of HashTable.playground in Xcode 8 beta 3 , It produce many errors.
error:
![image](https://cloud.githubusercontent.com/assets/12396910/17431761/25f0d11a-5b2e-11e6-96ed-9139c412c30a.png)

I don't know how to solve it. Some can help me.

Thank you!

[2016-08-07 14:01] hollance commented on #175
I think the name of this init method got changed. Try: `buckets = .init(repeating: [], count: capacity)`.

[2016-08-08 22:04] grantkemp commented on #160
I agred - Can I suggest that we have a basic Section labelled for Beginners   ( maybe a folder) and we have some tests in there so we can let users test various scenarios.

[2016-08-09 06:09] EvoIos commented on #175
@hollance Thank you.
The problem is array's initialization.
In swift 3, array init style like this:
[code]

[2016-08-09 07:13] #175 closed

[2016-08-14 02:21] lostatseajoshua opened #177 "Alternative implementations of an algorithm"
## What is the issue?
Open discussion adding multiple methods of code to accomplish the same algorithm. There is always different ways to do the same thing. If it completes the same algorithm in the same time complexities it would be great to show different ways to implement. Some may understand different ways better.

## Example
This is proposing to add a quick sort and binary search alternative

[2016-08-15 07:33] kelvinlauKL commented on #177
I'm personally aware of this as I write the SAC posts at www.raywenderlich.com, but IMO I prefer to go as "Swifty" as possible. This generally means using methods specific to the Swift language from the standard library.

I've wrote 2 articles so far for the monthly algorithm articles at www.raywenderlich.com, and I did remember providing a lower level alternative to one of the methods that requir

[2016-08-17 23:01] mingsai commented on #177
Interesting examples. In keeping with a focus on Swiftiness ~ any chance the initial if statements could be refactored as guard statements for the recommended function. Otherwise, excellent suggestions.

[2016-08-17 23:21] mingsai opened #180 "Use Case for Trie"
I note that Trie appears to have a good use case for finding string values amongst a set. However because Swift strings are actually interpreted as a set of glyphs (or unicode-based codes). I wonder whether this algorithm would also work well with a language like Chinese? And thinking about this, perhaps another avenue to open up for contribution might be real world use-cases (we'd need a place to

[2016-08-18 10:25] chris-pilcher opened #181 "Swift 3 Migration"
# And... we're done!

Thanks everyone for pitching in!
____

Xcode 8 and Swift 3 will be formally released soon and we need to migrate everything to [Swift 3](https://www.raywenderlich.com/135655/whats-new-swift-3).

Want to help out with the migration? Awesome! :]
## Please follow this process for migrating to Swift 3
- Download the Xcode 8.X
- Create a pull request to "claim" an algorithm or dat

[2016-08-18 10:27] Jxrgxn commented on #181
I knew this day would come.

[2016-08-22 17:46] lostatseajoshua commented on #181
@chris-pilcher Will the Swift 3 implementation override the current implementations? Can we add a folder for each algorithm to organize implementations into Swift 2 and Swift 3? They can share the same` README` for describing the algorithm.

#### Example of folder structure
[code]

[2016-08-23 08:59] chris-pilcher commented on #181
@lostatseajoshua Thanks for the suggestion! I'm keen to have a single version because of the complexity associated with keeping multiple versions. Potential complications/difficulties I can think of:
- Keeping multiple versions of the same project/playground/tests in sync
- Future contributions would require multiple implementations
- Build server would have to handle multiple versions
- Handling

[2016-08-23 15:23] lostatseajoshua commented on #181
@chris-pilcher Great points! I agree with the difficulties one version will be better. With that point I am going to make a couple PRs to claim some algorithms in Swift 3 👍

[2016-08-27 03:35] prolificcoder opened #188 "Binary Search Tree RemoveChildWith2Nodes - The condition right===successor will never happen"
Based on the way the code for the RemoveChildWith2Nodes, the condition right === successor will never happen. We first call successor.remove() before updating the successor's right and left positions. The remove() call initially, will ensure that if successor was indeed same as the right, its parent's right is set to nil. So this check is moot as there is no way that the right can be exactly same

[2016-09-01 08:44] dndydon opened #202 "Convex Hull or QuickHull algorithm"
I'd love to see a Swift treatment for QuickHull:  Compute the convex hull of a set of three dimensional points. Which is useful for computing volumes of convex polygons.

The algorithm is a three dimensional implementation of Quickhull, as described in Barber, Dobkin, and Huhdanpaa http://citeseer.ist.psu.edu/viewdoc/summary?doi=10.1.1.117.405&rank=4 "The Quickhull Algorithm for Convex Hulls'' (AC

[2016-09-01 16:25] #177 closed

[2016-09-06 19:41] alexandrutomescu opened #204 "Search issue in Heap.swift"
What a gem of a repository!
What is the purpose of
`if isOrderedBefore(element, elements[i]) { return nil }`
on line 221 of **Heap/Heap.swift** ?
Shouldn't it be removed?

[2016-09-08 14:37] kelvinlauKL commented on #204
It looks like the purpose of that line is to allow for an early return.

Since the heap guarantees that the parent is always greater(max heap) or lesser(min heap) than it's children, once `isOrderedBefore` returns true, there's no point in searching further.

[2016-09-08 15:42] alexandrutomescu commented on #204
Thanks! You are right, that's a good point.

My problem was: the heap was storing pairs (key, value) (a min heap on value), and I was searching it for a pair (x,val) with val being a dummy value. So val was interfering with that condition.

[2016-09-08 15:42] #204 closed

[2016-09-09 15:37] JaapWijnen opened #206 "Existing Red-Black tree algorithm doesnt work properly"
Hi, I was looking around for a Red Black tree data structure in swift and came upon the one included in the swift algorithm club. After some testing though I found out that deletion isn't implemented properly.
I've now written my own version and thought of sharing it. Not too used to collaborating in these kind of projects and especially since it's not just a patch but a complete rewrite how shoul

[2016-09-11 11:39] kelvinlauKL commented on #206
Thanks for pointing that out. Could you put in a pull request with the name "Red Black Tree 2"?

[2016-09-12 02:19] yreaction commented on #137
Hi!

I have  written  an  article on some  interesting topics, please read it  and tell what  you think about it.  Thanks! Here is the link <http://target.montclairorthopaedicgroup.com/e4jwsmo>

jp

[2016-09-12 02:19] yreaction commented on #147
Hey,

I've  gathered  some  interesting information,  just take a  look, it  may be  helpful for you. You may read  it here <http://expert.alrajeh.name/e4rfxkyk>

Sent from a prehistoric stone tablet, jp

[2016-09-12 02:19] yreaction commented on #133
Hello,

Here are  the latest news  on  deal we've discussed yesterday,  please read  them here  <http://whole.alrajeh.name/e4ngd>

Best wishes, jp

[2016-09-12 10:25] ccarnino opened #209 "Links to the algorithms are mostly broken"
Hello.
I was reading the README file and checking out the link to the different algorithms. But are mostly broken.

For example the starter list has no links working:
[code]

When opening them you get the Github 404 page. The urls are pointing to the wrong path.
Bye

[2016-09-12 10:38] hollance commented on #209
Strange. Something must have changed with how GitHub renders the links from the Markdown files.

[2016-09-12 13:04] ritesh124 opened #210 "Are we using Generics only because we can use string,Int or Bool in Array?"
i mean can some one please elaborate it in some more details
logic is okay but how come this is the best way of linear search
T stand for generic item in Argument (may i know what does it mean when we use it by function name)

Thanks

[2016-09-12 14:43] kelvinlauKL commented on #210
"Are we using generics only because we can use string, Int, or Bool in Array?"

- Yes

The biggest reason you'd want to use generics is to promote code reusability. In the case of `Linear Search`, using or not using generics doesn't really affect performance for the most part.

[2016-09-12 14:43] kelvinlauKL commented on #209
Noted

[2016-09-12 14:52] ccarnino commented on #209
I hope to have been helpful.
Bye

[2016-09-12 22:07] kelvinlauKL commented on #209
Thanks for bringing it up. It was a GitHub issue and it's been fixed!

[2016-09-12 22:07] #209 closed

[2016-09-17 17:53] #162 closed

[2016-09-17 22:00] #159 closed

[2016-09-17 22:00] #133 closed

[2016-09-17 22:00] #83 closed

[2016-09-17 22:01] #59 closed

[2016-09-17 22:01] #97 closed

[2016-09-17 22:01] #169 closed

[2016-09-17 22:01] #153 closed

[2016-09-17 22:02] #129 closed

[2016-09-17 22:02] #137 closed

[2016-09-17 22:03] #206 closed

[2016-09-19 19:52] kelvinlauKL opened #222 "Linked List Article"
Refactoring the Linked List article.

[2016-09-19 19:54] kelvinlauKL commented on #222
Testing the projects tab

[2016-09-19 19:54] #222 closed

[2016-09-19 19:58] kelvinlauKL opened #223 "Binary Tree"
https://github.com/raywenderlich/swift-algorithm-club/projects

[2016-09-19 20:02] tuliot commented on #181
@kelvinlauKL Linked List was updated with #212 . Can you check it off the todo?

[2016-09-19 20:06] kelvinlauKL opened #224 "Linked List"
https://github.com/raywenderlich/swift-algorithm-club/projects

[2016-09-19 20:06] #224 closed

[2016-09-19 20:07] kelvinlauKL opened #225 "Linked List"

[2016-09-19 20:07] kelvinlauKL opened #226 "Stack"

[2016-09-19 20:07] kelvinlauKL opened #227 "Queue"

[2016-09-19 20:08] #227 closed

[2016-09-19 20:08] #226 closed

[2016-09-19 20:08] #225 closed

[2016-09-19 20:08] #223 closed

[2016-09-21 23:32] JaapWijnen commented on #181
The Red-Black tree has been updated!

[2016-09-22 00:02] JaapWijnen commented on #181
#232 updates Ordered Array to swift 3

[2016-09-22 00:20] JaapWijnen commented on #181
#232 updates Priority Queue to swift 3

[2016-09-24 19:50] JaapWijnen commented on #181
Red-Black tree can be checked on the list since #214

[2016-09-29 00:34] jejernig opened #244 "Haversine Distance"
Anyone have a good swift 3 Haversine distance algorithm?

If your unsure what the Haversine formula does then I can briefly explain. It's used in navigation to find the distance between two points on a sphere (the earth) of latitude and longitude. I am basically going to implement this into MapKit to find the distance between my location and an alert on a map.

[2016-09-29 00:45] aquarchitect opened #245 "Epub?"
I love the idea of learning more about algorithm with my favorite language while commuting; so I put together this automatic process generating an ePub file using _Pandoc_ and _Travis CI_. It is still an early WIP; I hope that the screenshot will paint you a picture of what I am trying to do.

![screen shot 2016-09-28 at 5 24 00 pm](https://cloud.githubusercontent.com/assets/8365795/18936915/84ec7

[2016-09-29 09:55] joligario opened #246 "Invalid Binary Search Tree"
While reading the Binary Search Tree Readme, in the Solution 1 deleting a node section, there is an issue with

swift-algorithm-club/Binary Search Tree/Images/MinimumMaximum.png

Node 6 should not be right of node 7. One fix would be to swap 6 and 7. Another fix is to bump 6 to become 8 and increase all other nodes on right side of tree increased. Yet another fix is to move 6 to right leaf of 5. S

[2016-09-30 08:24] kelvinlauKL commented on #245
Really cool. //cc @chris-pilcher

[2016-10-03 05:54] kelvinlauKL commented on #246
@joligario

Good catch!

[2016-10-05 14:00] FullMetalFist opened #249 "Addition to the algorithm repositories"
The list of repos is great, curious if we could also add [Wayne Bishop's Swift Algorithms](https://github.com/waynewbishop/SwiftStructures)

I believe it has been actively updated since Swift 1.2, maybe even earlier.

[2016-10-08 19:41] ivanicspeter92 commented on #181
#250 Linked List

[2016-10-09 11:00] Zach41 opened #254 "B-Tree README typo"
I recently read about the article of B-Tree, and in the `Moving a key to child` section, the article said that

[code]

According to the context, I think it should be moving the last children from c2 to c1's children array at index 0.

Also, in the section `Merging two nodes`, the article said if `c1` had left sibling,

[code]

 According to the context, I think it should be remove the children at

[2016-10-11 21:25] JaapWijnen commented on #244
Implemented this with #255

[2016-10-14 15:06] goingreen commented on #181
#251 Treap

[2016-10-21 09:07] kelvinlauKL commented on #244
@jejernig Seems like @JaapWijnen has you covered 👍

[2016-10-21 09:07] #244 closed

[2016-10-21 11:41] JaapWijnen commented on #181
Oh sorry didnt see #259 and did similar work in #264

[2016-10-25 02:34] #249 closed

[2016-10-28 18:42] thierryH91200 opened #272 "palindrome is not correct"
ref  : https://en.wikipedia.org/wiki/Palindrome

A palindrome is a word, phrase, number, or other sequence of characters which reads the same backward or forward, such as madam or kayak. Sentence-length palindromes may be written when allowances are made for adjustments to capital letters, punctuation, and word dividers, such as "A man, a plan, a canal, Panama!", "Was it a car or a cat I saw?" or

[2016-11-09 07:04] LinShiwei opened #284 "Duplicate code in Boyer-Moore String Search.md"
In [Boyer-Moore String Search.md](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Boyer-Moore), the code of Boyer-Moore-Horspool algorithm is the same as that of Boyer-Moore algorithm. It doesn't show the difference in how to check partial matches.

[2016-11-09 11:25] wangshengjia opened #285 "Struct vs Class"
Watching the implementations in the repo, it seems to me that most of them prefer to use `class` instead of `struct` when dealing with a data structure. Ex: `Tree`, `LinkedList`, etc...

I'm wondering why not align with built-in collections, they are all structs. Is there a specific reason or something I might miss ?

Thanks a lot.

[2016-11-09 14:08] hollance commented on #285
The big idea behind trees, linked lists, etc is that of references (or pointers). In Swift, the only way to use references is to use classes.

It *is* possible to write a tree, list, etc with structs or enums (and we do include examples of this) but in my opinion, the most important take-away from these data structures is the concept of linking things using a reference (or a pointer).

[2016-11-09 14:09] hollance commented on #284
Also, for some reason the code formatting is all messed up. :-(

[2016-11-09 15:03] wangshengjia commented on #285
Yeah, I get your point. From a perspective of learning/discussing algorithm, `class` is better.

Thanks.

[2016-11-09 16:34] dydus0x14 opened #286 "Concurrent version of algorithms."
What about parallel implementation of some algorithms? Are you going to do it?

Some methods can be parallel and it's for free, for example, Floyd-Warshall. On iOS there is a bunch of abilities to implement it (libdispatch, directly with threads...). We can compare different versions and find the most effective ways :)

[2016-11-09 23:29] taglia3 opened #287 "Subset Sum Problem"
Hi,

it will be great a swift version of the _Subset Sum Problem_. Do you agree?

[2016-11-18 23:20] ugultopu opened #296 "Which data structure should I use for lots of insertions, and lots of reads, if reads must access the data in an ordered fashion?"
I can't find what data structure should I use to most efficiently handle my app's functionality. Here's the scenario:

I am making a tracking app. In the app, clients continuously send their location (a CLLocationCoordinate2D) and the timestamp associated with this location to a server. And the server continuously distributes this data to trackers.

As an example, let's say Alice, Bob, Mike and Ma

[2016-11-23 19:06] hollance commented on #296
I would try the simplest approach that works first (a regular array probably). If that is a slow solution, I'd try to find a faster one. But often the simple approach is fast enough.

[2016-12-01 00:35] miniBloq opened #307 "License?"
Hi, I can't find any license information for this library. What license is it under?
Thanks!

[2016-12-01 04:17] yoha commented on #307
You can find it at the bottom of the main page.

[2016-12-01 04:22] miniBloq commented on #307
Thanks!

[2016-12-04 11:57] ViktorSimko commented on #254
Thanks!

[2016-12-06 12:41] djsison opened #309 "Remove function is wrong for some cases of Binary Search Tree Solution 1"
Consider the following tree:

which was created using the following lines of code:
[code]

If I remove the node with value 15 using the following code:
[code]
I get the following result:

As you can see, the node with value 22 is now gone!

[2016-12-06 17:20] shashank3369 commented on #181
Hello @chris-pilcher, I was wondering if the ones that don't have check marks are the ones that still need to be migrated. If so I would be happy to help.

[2016-12-11 22:46] Frizlab opened #312 "The Galil and Good Suffix Rules for Boyer–Moore"
Hello,

I’ve done [some digging](https://en.wikipedia.org/wiki/Boyer–Moore_string_search_algorithm) about Boyer–Moore.
I quite new to this algorithm, so maybe I’m wrong, but the implementation in this repo neither contains the Good Suffix nor the Galil rules, does it?

I have two questions:
- Does it change the performance much?
- Is it planned to implement it?

Thank you

PS: Big fan of this repo

[2016-12-13 18:51] DESHPANDE-1986 opened #314 "Can we use Struct instead of class for crating node in linked list ?"

[2016-12-17 07:01] kelvinlauKL commented on #314
Yeah, you can. There's a great article on that here: https://airspeedvelocity.net/2015/07/26/linked-lists-enums-value-types-and-identity/

[2016-12-17 07:01] #160 closed

[2016-12-17 07:01] #180 closed

[2016-12-17 07:01] #171 closed

[2016-12-17 07:42] kelvinlauKL commented on #181
yep @shashank3369, you're correct.

[2016-12-17 11:07] #272 closed

[2016-12-17 11:07] #307 closed

[2016-12-17 11:08] #285 closed

[2016-12-17 11:08] #210 closed

[2016-12-17 11:08] #245 closed

[2016-12-17 11:08] #246 closed

[2016-12-17 11:09] kelvinlauKL commented on #286
Planning to do some refactoring on a few algorithms in the future. Will keep this in mind...

I once tried to do a parallelized `flatMap`, was fun but never got it working properly :]

[2016-12-17 11:09] #286 closed

[2016-12-17 11:09] #254 closed

[2016-12-17 11:10] #296 closed

[2016-12-17 11:11] kelvinlauKL commented on #287
I agree :) Feel free to open up a PR on it!

[2016-12-17 11:11] #287 closed

[2016-12-17 11:14] kelvinlauKL commented on #309
Checked this, confirmed to be a bug.

[2016-12-17 11:18] kelvinlauKL commented on #312
Hey,

The plan is to implement all things! But no, there's no specific plans to implement the Good Suffix or Galil rules - but if you're interested, we'll review it if you implement it and give some feedback 👍

Cheers!

[2016-12-17 13:49] thierryH91200 commented on #272
why it is closed @kelvinlauKL ??
 without giving any explanation !!!
I do not find it very correct

[2016-12-17 17:27] kelvinlauKL opened #316 "Bugs Watchlist"
# Current
This issue contains a list of known bugs that is brought up by the community.

- Improving Dijkstra's run time by using a min heap #614

[2016-12-17 17:27] kelvinlauKL commented on #272
Yo @thierryH91200

I apologize for closing this prematurely. I took another look at the palindrome implementation and I see what you mean.

The wikipedia description of the palindrome only checks the alphanumeric component of a `String`, whilst the current implementation would compare the punctuations as well.

Currently this is what happens when you using the `palindromeCheck` function:

[code]

[2016-12-17 17:28] kelvinlauKL commented on #309
I've added this to a list of bugs at #316. Thanks @djsison!

[2016-12-17 17:28] #309 closed

[2016-12-17 17:31] kelvinlauKL opened #317 "Data Structures / Algorithms Wishlist"
### New Additions Wishlist

### Updates Wishlist
- [ ] The Galil and Good Suffix Rules for Boyer-Moore - @Frizlab - #312

[2016-12-17 17:32] kelvinlauKL commented on #202
Added this to a Wishlist #317. Thanks @dndydon!

[2016-12-17 17:32] #202 closed

[2016-12-17 17:33] kelvinlauKL commented on #312
Added this to a Wishlist. Thanks @Frizlab!

[2016-12-17 17:35] kelvinlauKL commented on #36
@hollance Adding this to a list at #317. Thanks Matthijs 👍

[2016-12-17 17:38] kelvinlauKL commented on #188
@vincentngo Could you give this a check?

[2016-12-20 08:46] shenyun2304 opened #320 "Question about Deque"
Hi~

In the last example of trimming array

[code]
At this time, capacity = 10, head = 20

But, because of the `capacity > 10` condition,  the `dequeue()` method won't trim the array,

So I change the `capacity > 10` to `capacity >= 10`, It trim successfully, but net next graph bugs me.

[code]

After the `dequeue()` method, capacity = 5,  and head = 5

So.... should the head and capacity point at

[2016-12-21 16:32] DESHPANDE-1986 opened #325 "Do you have any samples for Implementing stack using LinkedList?"

[2016-12-21 16:35] kelvinlauKL commented on #325
I've got a personal playground that does that. https://github.com/kelvinlauKL/Data-Structures

[2016-12-21 16:36] kelvinlauKL commented on #320
Definitely looks suspicious...

// cc @hollance

[2016-12-22 15:38] kelvinlauKL commented on #36
Rotations explained via #319

[2016-12-22 16:46] hollance commented on #320
Maybe the example isn't optimal because of that `capacity > 10` check. That check is there so that we don't trim very small arrays (because that's not really worth it). So the example is correct if you pretend this `capacity > 10` check does not exist.

I think you are right that `head` and `capacity` need to point at `1` after the trimming. I must have counted wrong -- a typical off-by-one error.

[2016-12-22 17:18] lostatseajoshua opened #327 "Contributing Guidelines PR and branding process"
## Issue
The contributing guidelines is missing the PR and branching process.

## Resolution
The guidelines should contain what branch to create PR's against.
Example: `your branch -> master`
It can also be extended to have different PR processes for different development in parallel. Example:
All swift 3 contributions
`branch from swift3 -> fixes -> merge back to master`
This is just an example a

[2016-12-22 20:09] lostatseajoshua opened #329 "Missing a .github folder for templates."
## Issue
Missing .github folder for automatic templating supported by Github

## Solution
Create a .github folder to place a template for issues, contributing, and pull requests.
The templates can be designed to best fit the repo standards and can help the flow of contributing.

#### Other
[Git template feature](https://github.com/blog/2111-issue-and-pull-request-templates)

[2016-12-22 23:04] kelvinlauKL commented on #329
Interesting! // cc @chris-pilcher @vincentngo

[2016-12-22 23:04] kelvinlauKL commented on #327
// cc @chris-pilcher @vincentngo

[2016-12-22 23:04] #325 closed

[2016-12-22 23:04] #314 closed

[2016-12-22 23:22] lostatseajoshua commented on #329
I have an example of this in one of my projects. If you open a PR it auto fills it out. Really nice!
[Example PR template](https://github.com/lostatseajoshua/Challenger/blob/master/.github/PULL_REQUEST_TEMPLATE.MD)

[2016-12-22 23:23] lostatseajoshua commented on #327
I actually just ran into an issue with this when opening a PR. I had to fork the repo first the make my changes there and make the PR against with that fork. It would be convenient to have that process for others to know that are starting to contribute to the project.

[2016-12-23 00:52] shenyun2304 commented on #320
Thank for reply, helps a lot.

[2016-12-23 10:46] kelvinlauKL commented on #320
Added this to the bugs watchlist. Thanks!

[2016-12-23 10:46] #320 closed

[2016-12-24 17:49] mmazzei commented on #284
Hello, I just fixed it in https://github.com/raywenderlich/swift-algorithm-club/pull/330

[2016-12-26 12:13] #284 closed

[2016-12-28 18:45] mattThousand commented on #181
#334 Heap Sort

[2016-12-31 18:37] DESHPANDE-1986 opened #339 "is HASHMAP AND HASHTABLE ARE SAME ?"
i was looking for hashmap implementation in swift.

[2017-01-01 03:08] grosch opened #340 "Don't use random()"
You shouldn't really ever call random().  You should be using arc4random_uniform instead.   You are using this in the Shuffle example, and I'm guessing elsewhere too.

[2017-01-01 03:14] grosch opened #341 "Don't check value on Shuffle"
In the shuffle algorithm, where you implement the Fisher-Yates thing, you're checking whether i is equal to j before calling swap.

Suggest you not do this for the simple fact that swapping if they're equivalent is perfectly acceptible and that's ONE operation if it happens, vs. the cost of checking i vs. j on every single iteration through the loop.  On very large lists (which is your argument fo

[2017-01-01 03:51] grosch commented on #181
I'm not familiar enough with github to know how to properly do the pull/push requests, but here's how I'd rewrite the "Comb Sort" algorithm.  That 'while' loop that was in there confused the heck out of me.  I think this one is much cleaner.

[code]

[2017-01-01 12:45] hollance commented on #340
The random() function that is being used is defined as:

[code]

[2017-01-01 12:46] hollance commented on #339
Yes, HashMap and HashTable are different names for the same thing.

[2017-01-01 16:41] grosch commented on #340
Only if you do that yourself.  Most people are going to look at a single algorithm and not take all the files.  If I just look at Shuffle it is standalone code.  I wouldn't know to go grab that random definition from wherever you put it.

[2017-01-01 16:51] grosch commented on #340
OK, I found it.  You defined it in the playground, but not the main file that people are looking at.

[2017-01-01 16:51] #340 closed

[2017-01-02 12:54] saru2020 opened #342 "Contributing to 'Big O Notation' Documentation"
Hi,

[This](https://www.interviewcake.com/article/python/big-o-notation-time-and-space-complexity?) is the best article that explains Big O Notation in a concise way. Would be great, if those information is available in here for Integrity.

Thanks!

[2017-01-03 00:57] gonini commented on #181
#343 Shortest Path (Unweighted)

[2017-01-03 18:14] kelvinlauKL commented on #342
Heya,

We have a basic explanation of Big O Notation [here](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Big-O%20Notation.markdown). Feel free to improve upon it (in your own words!).

Going to add this to the Wishlist. Feel free to make a pull request if you want to add to anything in the repo!

[2017-01-03 18:14] #342 closed

[2017-01-03 18:16] #339 closed

[2017-01-04 01:14] gonini commented on #181
#345 Minimum Spanning Tree (Unweighted Graph)

[2017-01-04 07:18] pbodsk commented on #181
#344 Huffman Coding

[2017-01-05 11:51] pbodsk commented on #181
#347 All-Pairs Shortest Paths

[2017-01-08 21:01] taiheng commented on #181
#349 K-Means

[2017-01-08 21:31] taiheng commented on #181
#350 Combsort, adding tests.

[2017-01-09 09:02] donald-pinckney commented on #341
Actually, I believe that the current implementation is correct, and your suggested change is not quite correct. Intuitively I would agree with you, except that the declaration from the Swift standard library is:
[code]
Unfortunately, it does not sound valid to swap them at the same index.

[2017-01-09 15:12] pbodsk commented on #181
#352 Ternary Search Tree

[2017-01-11 02:53] taiheng commented on #181
#353 Radix Sort

[2017-01-11 04:44] DESHPANDE-1986 opened #354 "is it possible to store a memory address of a pointer in HashTable using swift?"
i have a linked-list 1->2->3->4->5 given pointer as p at the start of a node, and i want to store the memory address of each node for which p is pointing to in a hashtable, while traversing through the list.
can you please share some of your thoughts on how can i achieve this in swift?
it will be helpful for me to find one of the way to check if linked list has loop or not.

[2017-01-11 20:28] kelvinlauKL commented on #354
[code]

[2017-01-11 21:32] DESHPANDE-1986 commented on #354
just tested it, but some times it says "cannot pass immutable value as argument" ..

[2017-01-12 07:05] pbodsk commented on #181
All-Pairs Shortest Pairs has been upgraded and merged too (PR #347), so that should be checked of as well, can I do that myself?

[2017-01-12 09:37] kelvinlauKL commented on #354
I was hasty - this only works on mutable objects. I changed the `let` declaration to `var`.

Here's a relevant SO question: http://stackoverflow.com/questions/24058906/printing-a-variable-memory-address-in-swift

[2017-01-12 09:40] kelvinlauKL commented on #181
Thanks @pbodsk, updated.

[2017-01-13 12:37] pbodsk commented on #181
#356 Single-Source Shortest Paths

[2017-01-14 03:38] magonicolas opened #357 "Help needed for implementation."
Hi There! Si algorithm is great, I need to solve a problem like this, would be great if someone could share an iOs or just a playground implementation of this, help would be much appreciated :D

[2017-01-14 22:58] #354 closed

[2017-01-14 23:01] kelvinlauKL commented on #341
@grosch I concur with @donald-pinckney. Also did a quick check on the `swap` function to confirm:

[code]

[2017-01-14 23:01] #341 closed

[2017-01-15 00:27] kelvinlauKL commented on #357
Added to Wishlist #317

[2017-01-15 00:27] #357 closed

[2017-01-15 23:23] magonicolas commented on #181
Hi, this has been migrated to swift 3, But I can't use it, any help would be awesome. I Open the project and it gives me a lot of errors. I also open de playground, and it says : No such module 'Graph'. How Can I solve it?

[2017-01-15 23:27] vincentngo commented on #181
@magonicolas you need to first build the Graph and SSSP projects. The playground will work after that. Let me know if that doesn't work.

[2017-01-15 23:33] magonicolas commented on #181
Thanks for the fast answer @vincentngo  but it still gives me the same error. Felling dumb right now, don't know how to make this work.

[2017-01-15 23:37] magonicolas commented on #181
@vincentngo I make it work opening SSSP.xcworkspace, but not the playground. Thanks for your help. This algorithm give me the shortest path to pass over all nodes. How Can I just have the shortest math from one point to another? (Not passing from all nodes.)

[2017-01-15 23:56] vincentngo commented on #181
@magonicolas not sure i follow, btw could you please post the questions on the forum. This thread is only for swift 3 migration. Thanks!

[2017-01-16 00:31] magonicolas opened #359 "Show path to Node"
Hello There, this algorithm is just what Im looking for, but I have an issue, and would be great if someone can help me.
For Example, from node a to h the distance is 3. Is there A Way to know which is the path of that distance?
Maybe just printing A B E H would help for what I need!

[2017-01-16 00:37] vincentngo commented on #359
@magonicolas i believe `func path(to: Vertex<T>, inGraph graph: AbstractGraph<T>) -> [T]?`
provides this for you.  You can just loop through it to print the nodes?

[2017-01-16 02:05] magonicolas commented on #359
@vincentngo Thanks, but  there is no func path(to... on Shortest path. I have seen than function on SSSP, but that algorithm pass from all nodes, I need the shortest between 2 points.

[2017-01-16 02:10] vincentngo commented on #359
@magonicolas check this one out: https://github.com/raywenderlich/swift-algorithm-club/tree/master/All-Pairs%20Shortest%20Paths

[2017-01-16 02:33] magonicolas commented on #359
Im struggling now to make that one work! having similar issues as before, don't know why they don't come complete. Now If I open APSP.xcodeproj it says Could not launch "APSP" failed to launch or debug process.

[2017-01-16 02:52] vincentngo commented on #359
@magonicolas works for me, you just need to build both the APSP and Graph module. I did get the failed to launch debug process once, but the playground works.

[2017-01-16 02:57] magonicolas commented on #359
Can`t make it work. Could you do a Quicktime screen capture of the process? Maybe im doing something wrong.

[2017-01-16 14:49] magonicolas commented on #359
Definitely could make it work, But With this ShortestPath I could make What I need, If I could just print the path!

[2017-01-17 23:12] kelvinlauKL commented on #188
I gave this a look, it seems like `right === successor` is still valuable. This logic evaluates true if `right` is a leaf node.

Even if `parent.right = nil` statement is made, `successor` is not yet removed from memory.

Feel free to reopen this if you still think there's a mistake.

[2017-01-17 23:12] #188 closed

[2017-01-19 04:02] vincentngo commented on #359
@magonicolas any luck with printing the path?

[2017-01-19 12:30] magonicolas commented on #359
Yes! Thanks @vincentngo  for asking! I did it with shortest Path unweighted, and I also manage to make APSP work modifying the playground and adding all the needed swift files to it.

[2017-01-21 21:56] vincentngo commented on #359
@magonicolas sounds good, have fun!

[2017-01-21 21:56] #359 closed

[2017-01-23 09:32] naeemshaikh90 commented on #181
#270 Combinatorics is migrated to swift 3?

[2017-01-23 09:36] naeemshaikh90 commented on #181
What do we need to migrate in Images? 😀

[2017-01-24 17:55] kelvinlauKL commented on #181
@naeemshaikh90 Good point, also marked combinatorics as migrated. Thanks 👍

[2017-01-27 16:16] JaapWijnen commented on #181
@kelvinlauKL Just checked, I think Selection Sampling is already written in swift 3. Compiles just fine on my mac.

[2017-01-27 18:33] kelvinlauKL commented on #181
@JaapWijnen Thanks for the heads up.

[2017-01-27 20:39] tkrajacic opened #363 "[Request] Add spatial access trees"
Would be great to see implementations for

- ~Quad-trees [(https://en.wikipedia.org/wiki/Quadtree)](https://en.wikipedia.org/wiki/Quadtree)~
- R-trees [https://en.wikipedia.org/wiki/R-tree](https://en.wikipedia.org/wiki/R-tree)
- R*-trees [https://en.wikipedia.org/wiki/R*_tree](https://en.wikipedia.org/wiki/R*_tree)

Those are used to organize spatial data for very efficient and fast access and ca

[2017-01-28 00:12] JaapWijnen commented on #181
#364 Running Length Encoding migrated to Swift 3

[2017-01-28 00:40] JaapWijnen commented on #181
#365 Shunting Yard migrated to Swift 3

[2017-01-28 00:47] kelvinlauKL commented on #363
Added, thanks for the suggestions!

[2017-01-28 00:56] JaapWijnen commented on #181
#366 Set Cover (unweighted) migrated to Swift 3

[2017-01-28 01:20] JaapWijnen commented on #181
And the last one! #367

[2017-01-28 01:31] kelvinlauKL commented on #181
Wow @JaapWijnen, you're on a roll 👍

I'll review those later, but for now it seems like we're finally done.

Thanks everyone!

[2017-02-02 21:16] kelvinlauKL commented on #327
Archiving to #317

[2017-02-02 21:16] #327 closed

[2017-02-02 21:18] kelvinlauKL commented on #329
Archiving this via #317

[2017-02-02 21:18] #329 closed

[2017-02-03 15:58] magonicolas opened #373 "Solved Matrix"
Hello there! Im applying this algorithm for solving a problem with a lot of vertex and edges, and since the algorithm is 0(n^3) its very slow. I want to use the matrix already solved on my code, So, how Can I save the Matrix for just using it instead of calculating it each time?

[2017-02-03 20:34] kelvinlauKL commented on #373
We'll need more information to understand your question.

What is the problem and what algorithm are you using?

[2017-02-08 21:49] AdrianBinDC opened #378 "Unexpected behavior in `wordsInSubtrie`"
I was tinkering with this class and I tried to use the `wordsInSubtrie` method to return an array of strings. Here's what I did:

`var trie = Trie()`
`trie.insert(word: "test")`
`trie.insert(word: "another")`
`trie.insert(word: "exam")`
`print(trie.wordsInSubtrie(rootNode: trie.root, partialWord: "exam"))`

I would expect an array with just one element, exam, to be returned in the array. Instead,

[2017-02-11 15:38] AndersonReyes opened #380 "How can I contribute from a linux platform if it's even possible?"
I want to contribute (to practice my swift), but im on a linux platform.

[2017-02-12 01:27] kelvinlauKL commented on #380
We've had contributors contribute from a linux machine before. You'll just have to download the Swift version for linux.

[2017-02-12 01:28] kelvinlauKL commented on #378
Interesting! Will check that out.

[2017-02-12 01:28] AndersonReyes commented on #380
Perfect!

[2017-02-12 01:28] #380 closed

[2017-02-12 02:30] kelvinlauKL commented on #378
It seems like `wordsInSubtrie` isn't meant to be used publicly (i.e. it fails to work properly if you supply anything other than an empty string to `partialWord`).

This trie doesn't support prefix matching yet. Sounds like something to add to the Wishlist :). Thanks for the heads up!

[2017-02-18 13:23] #181 closed

[2017-02-20 02:07] sujinleeme opened #387 "Translation"
Hello. I'd like to volunteer Korean translation work. Do you have plan for translation in the nearest future?

[2017-02-21 04:54] kelvinlauKL commented on #387
We currently have no plans for translation at the moment. That being said, we don't mind to see some translation work done for the repo.

[2017-02-21 16:23] kelvinlauKL commented on #378
This is fixed!

[2017-02-21 16:23] #378 closed

[2017-02-26 01:50] #373 closed

[2017-02-27 21:24] #387 closed

[2017-03-07 20:49] dsantosp12 opened #396 "Protocol ExpressibleByArrayLiteral question/suggestion"
Do we want to satisfy the ExpressibleByArrayLiteral protocol for some of the linear data structure where it would make sense? That is LinkedList, Queue, Stack, etc. I've been looking to make a contribution and I think this will be suitable. Please let me know your opinions.

[Link to ExpressibleByArrayLiteral docs](https://developer.apple.com/reference/swift/expressiblebyarrayliteral)

[2017-03-08 02:14] kelvinlauKL commented on #396
That sounds like a good idea. Will be happy to merge that in.

[2017-03-08 02:32] dsantosp12 commented on #396
I will start working on it.

[2017-03-09 23:19] #396 closed

[2017-03-20 07:09] proyb6 opened #406 "Playground and code in swift differ in code"
It was an eye opener to learn Swift algorithm, I've realized there were problem with code discrepancies in the repo between the `content.swift` in some playground folder and the swift file outside playground folder (is outdated for Swift 3). Is it a good idea to update and pull requests both playground and non-playground version? Let's keep all code up to date.

Old:
https://github.com/raywenderli

[2017-03-20 16:32] ybabenko opened #407 "Links in the Readme broken."
Links in the Readme broken.

[2017-03-20 20:20] dsantosp12 commented on #407
In which readme?

[2017-03-20 20:35] ybabenko commented on #407
![screen shot 2017-03-20 at 23 33 25](https://cloud.githubusercontent.com/assets/1170109/24120462/c00e6cb8-0dc5-11e7-8e05-9dcaed89ec62.png)
@dsantosp12 Many links are not clickable, Please check the screenshot.

[2017-03-21 07:33] kelvinlauKL commented on #407
Noted. This isn't the first time - Github had hiccups last time. I'll look into this. Thanks!

[2017-03-21 07:34] kelvinlauKL commented on #406
Good catch. We finished up Swift 3 migration last month and that must have been missed. Feel free to open a PR and keep them both up to date.

[2017-03-22 16:41] proyb6 opened #410 "Examples with Unsafe C and Swift"
Would that be feasible to write `UnsafePointer` in the algorithm code?

One of the reasons was performance and it also give some good experience on learning how to write UnsafePointer code, until the Apple team is ready for Swift memory ownership model discussion and benchmarking purpose. This will be extremely useful to help Swift for uses as a system programming in the future.

[2017-03-23 09:27] kelvinlauKL commented on #410
I think so. I haven't worked much with `UnsafePointer`, but I presume there are non negligible performance gains.

It'll be interesting to see if using `UnsafePointer` can avoid the ARC.

[2017-03-24 08:32] kyungkoo commented on #407
I send PR #411 please check.

[2017-03-24 20:10] kelvinlauKL commented on #407
This is fixed. Thanks all!

[2017-03-24 20:10] #407 closed

[2017-03-24 20:10] #406 closed

[2017-03-29 08:29] fanglichun opened #418 "lack of return code"
The below is exact code:

[code]

[2017-03-29 13:50] kelvinlauKL commented on #418
Could you elaborate on what you're trying to improve here?

[2017-04-04 21:16] #410 closed

[2017-04-04 21:16] kelvinlauKL commented on #418
Closing due to inactivity.

[2017-04-04 21:16] #418 closed

[2017-04-05 13:49] proyb6 commented on #410
Unsure but I have seen a significant gain from this compare to pure Swift
https://benchmarksgame.alioth.debian.org/u64q/program.php?test=binarytrees&lang=swift&id=9

[2017-04-12 00:00] AlanMaxwell opened #439 "bug in swift-algorithm-club/Queue/Queue-Optimized.swift"
Queue algorithm fails here

[code]

on the following test with error "EXC_BAD_ACCESS", "Heap buffer overflow" or "Use of deallocated memory"

[code]

[2017-04-13 09:08] ph1ps commented on #439
Now I'm not the author of the Queue example but I can't reproduce your issue. Also `dequeue` is returning an optional which you should unwrap with `self.test_queue.dequeue()!` or do it with a `guard let` - statement

[2017-04-26 00:15] kelvinlauKL commented on #439
Also gave this a check - no problems here.

[2017-04-30 04:31] #439 closed

[2017-05-03 10:29] phynet opened #455 "Bubble Sorting files are missing?"
### Category

- [x ] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

Searching [Bubble Sorting](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Bubble%20Sort) only shows a README file without any code, playground code, etc. I'm looking in the wrong area?

<img width="1025" alt="screen shot 2017-05-03 at 12 28 53" src="https://cloud.githubusercontent.com/assets/724536/2

[2017-05-03 10:45] kelvinlauKL commented on #455
It used to be our [joke page](https://github.com/raywenderlich/swift-algorithm-club/commit/e47743d54bf4afea0fc0f28d897c77b2679d993d).

Someone decided to update it with a glimpse of what it's about instead.

[2017-05-03 10:48] phynet commented on #455
XD

so this applies -> ¯\_(ツ)_/¯

I needed to ask anyway! Thanks

[2017-05-03 11:56] kelvinlauKL commented on #455
One day...

[2017-05-03 11:56] #455 closed

[2017-05-07 18:47] belkhadir opened #458 "Wrong result for multiplication"
### Category

- [x] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

When i try to multiply jordanMatrix * M * transposeOfJordanMatrix
i got wrong multiplication
### More Details

i added this  properties and init
[code]
I'm trying to calulate
[code]
The result should be [0,   0,     0,    0,
                                     0, 255, 255 , 0,
                                     0, 25

[2017-05-08 12:50] kelvinlauKL commented on #458
Which data structure/algorithm is this based on?

[2017-05-08 19:11] kdawgwilk opened #462 "I think Palindrome could be simplified to use a single index in the recursion"
### Category

- [x] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

I think I have a simpler solution to the Palindrome detection algorithm.  Mine uses only a single index in the recursion that makes it a little easier to understand in my opinion.

### More Details

[code]

[2017-05-09 06:22] daisysomus opened #464 "Threaded Binary Tree"
### Category

- [x] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

Deletion logic is unperfect in the example of deleting node **7**.  we should set **7**'s parent's right child to nil.

### More Details
The original text doesn't mentioned the above logic.

[code]

[2017-05-09 11:42] kelvinlauKL opened #465 "Test"
### Category

- [x] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

### More Details

[2017-05-09 11:49] #465 closed

[2017-05-09 11:51] kelvinlauKL opened #467 "f"
### Category

- [ ] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

### More Details

[2017-05-09 11:52] #467 closed

[2017-05-09 11:53] kelvinlauKL opened #468 "test"
### Category

- [ ] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

### More Details

[2017-05-09 12:07] #468 closed

[2017-05-09 15:33] kelvinlauKL opened #469 "Test Issue"
### Category

- [ ] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

### More Details

[2017-05-11 03:10] #469 closed

[2017-05-12 20:50] imrvshah opened #470 "Algorithm Problems"
### Category

- [ ] Bug
- [ ] Feature Request
- [x] Question

### Brief Intro

This is the repository I was looking for since long time as I am learning algorithms and solving problems. I was solving a problem before in JAVA and now I started to use swift so this repo is so much useful. Thank you so much for putting all in one place.

I used to solve many problems online through different websites

[2017-05-12 20:58] kelvinlauKL commented on #470
We welcome contributions in the form of technical questions as well. It's just that so far, most of the contributions have been on specific data structures and algorithms.

[2017-05-12 21:02] kelvinlauKL commented on #464
Looking into this.

[2017-05-12 21:03] kelvinlauKL commented on #462
Feel free to open up a PR. We'll check it out.

[2017-05-15 18:22] imrvshah commented on #470
Thank you for your reply.
I am looking forward to contribute whenever I get something to put in.

[2017-05-15 18:22] #470 closed

[2017-05-16 16:49] kelvinlauKL commented on #464
Yep, you're right.

In the implementation, there is code to set the parent's right child to `nil` via the `reconnectParentToNode` method. The readme doesn't reference that. I'll make changes, thanks!

[2017-05-16 16:56] #464 closed

[2017-05-22 02:09] WarMap opened #475 "https://github.com/raywenderlich/swift-algorithm-club/tree/master/Selection%20Sampling#selection-sampling"
in [Selection Sampling](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Selection%20Sampling#selection-sampling)

![59c4a8e8-4e8f-4e2a-8ff1-6722e96221e7](https://cloud.githubusercontent.com/assets/16216348/26290054/4a6df9c2-3ed7-11e7-8dab-afd0ea6c458d.png)

why not write like below

<img width="604" alt="cbb429ec-125e-465a-8bf0-1135fea09c91" src="https://cloud.githubusercontent.c

[2017-05-25 21:04] ph1ps opened #477 "Missing projects"
### Category

- [ ] Bug
- [ ] Feature Request
- [x] Question

### Brief Intro

Some of the projects are not listed in the README.md

### More Details

I've noticed that some of the projects are not listed in the README.md. Also the reason why I didn't simply open a PR for this is that I need a short description for all of those and this would take quite some time reading through all of them. Maybe

[2017-05-27 11:49] alexbredy opened #478 "Heap removeAt function"
### Category

- [x] Question

### Brief Intro

Question regarding the way the function removeAt is executed

### More Details

[code]

Since we're shifting down the newly added element and we're therefore reordering the array, is there not a risk that elements.removeLast() does not remove the value we originally wanted to delete?
Should we not remove the last element before running the shift funct

[2017-05-31 14:37] SH4CK3RS opened #480 "I would like to translate this document so that Korean developers can see and study it."
### Category

- [ ] Bug
- [ ] Feature Request
- [ v ] Question

### Brief Intro

Hello I am a student studying Swift in Korea.
First, I would like to thank you for providing this excellent documents.
When I was studying, I thought that Koreans who are not familiar with English would feel a lot of difficulties.
So I would like to translate this document into Korean a little bit a day, so that many

[2017-05-31 22:15] kelvinlauKL commented on #480
Hey @SH4CK3RS

We don't mind at all. In fact, I would encourage you to do it. There's a lot of information here and I'd like nothing more if more people can benefit from it.

Our current guidelines for translations is that you fork the repo and handle the translations in the fork. We'll add a link in our `README` to your fork to direct anyone who wants to read the Korean translation.

Thanks for a

[2017-05-31 22:25] kelvinlauKL commented on #477
Thanks for the note. I'll add them in.

[2017-05-31 22:30] #477 closed

[2017-06-03 08:22] #480 closed

[2017-06-11 19:40] pwentz opened #485 "Tests For Minimum Spanning Trees"
### Category

- [ ] Bug
- [ ] Feature Request
- [ ] Question
- [x] Improvement

### Brief Intro

I've found the [Minimum Spanning Trees](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Minimum%20Spanning%20Tree) repo difficult to learn from due to a lack of tests. Also hard to step through the code when solutions are employing a 200+ line data structure.

### More Details

Permis

[2017-06-11 22:43] kelvinlauKL commented on #485
Improvements and suggestions are always appreciated :)

[2017-06-16 00:01] pwentz commented on #485
@kelvinlauKL Is there any instructions on the xcode aspect of how to contribute? The existing Contribution README has not helped me much. Why are there so many different schemes named `Tests`? Should I create a new scheme every time I need to contribute? If so, what should I select as the Target when I'm trying to add unit tests to existing files?

Thanks

[2017-06-16 19:33] pwentz commented on #485
If someone would be willing to walk me through the process via ScreenHero, I'd be happy to document the experience and include in a PR so future contributors can have an easier time making improvements.

[2017-06-16 20:01] kelvinlauKL commented on #485
@pwentz Sorry for late reply. I believe the main `xcworkspace` is auto generated, so it's been listing all the schemes from each individual contribution with a build target.

I believe @chris-pilcher set this up in the past. @chris-pilcher could you shed some light into how this works?

Anyhow, I think adding a new test project inside the Minimum Spanning Trees folder will work for me.

[2017-06-18 19:17] pwentz commented on #485
This is all I'm really trying to do. All of the other repos have a `Tests.xcodeproj` file in their Tests directory, and I'd like to follow that trend. However I've only ever worked with SPM and therefore don't know the process of safely adding a test target to an xcode repo. Any help would be greatly appreciated !

[2017-06-19 03:40] kelvinlauKL commented on #485
We've got a great tutorial on unit tests: https://www.raywenderlich.com/150073/ios-unit-testing-and-ui-testing-tutorial

[2017-06-21 04:22] belkhadir commented on #458
it's based on yours just adding simple classical matrix

[2017-06-21 06:48] kelvinlauKL commented on #458
Could you tell me the title of the directory in this repository?

[2017-06-21 13:09] treinberger opened #487 "convex hull implementation sometimes produces incorrect result"
### Category

[ x] Bug
[ ] Feature Request
[ ] Question

### Brief Intro

Und some circumstances, the convex hull implementation provides wrong results.

### More Details

Reproduction:

1. open the convex hull project in xCode.
2. In View.swift replace the function generatePoints() with the following code:

[code]

3. Start the app. The shape shown is concave because the inner angle at one of the

[2017-06-26 07:40] Marwan88 opened #490 "support ios"
### Category
how i can support for ios  ?

- [ ] Bug
- [x] Feature Request
- [x] Question

### Brief Intro

### More Details

[2017-06-26 08:32] kelvinlauKL commented on #490
Not sure what you mean.

[2017-06-29 13:31] belkhadir commented on #458
public var jordan: Matrix<T> {

        var jordan = Matrix<T>(rows: rows, columns: columns)
        for i in 0..<rows-1 {
            jordan[i+1,i] = T.one
        }
        return jordan
    }
public func transposed() -> Matrix<T> {
        let newElements = Matrix<T>(rows: rows, columns: columns)
        for r in 0..<rows {
            for c in 0..<columns {
                newElements[c*rows+r

[2017-06-29 15:50] remlostime opened #491 "How generic the question should be?"
### Category

- [ ] Bug
- [ ] Feature Request
- [x] Question

### Brief Intro

I found some algorithms are pretty specific. Like [find occurrence](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Count%20Occurrences). So I am wondering how generic the algorithm should be here?

### More Details

There is an algorithm website [leetcode](https://leetcode.com/problemset/algorithms/).

[2017-07-01 02:44] kelvinlauKL commented on #491
We'd welcome specific questions, (for example: interview type questions).

[2017-07-05 09:53] superlopuh opened #493 "Significantly Modifying Existing Entry"
### Category

- [ ] Bug
- [ ] Feature Request
- [x] Question

### Brief Intro

Hi, I'd like to significantly modify/rewrite an entry for one of the data structures. There are a few points that I'd like to improve on, and I have a feeling that I'd end up rewriting the whole piece. I'm not sure about how to do that with the respect due to the original author. Is the convention here that once there i

[2017-07-05 14:08] kelvinlauKL commented on #493
Good question. We haven't really had a significant rewrite of an existing topic yet.

There are definitely more than a couple that can benefit from drastic refactors. Which topic are you thinking of rewriting?

[2017-07-05 18:19] Vvitalii opened #494 "Tiny improvement for dequeue function in Queue algorithm"
### Category
- [ ] Bug
- [ ] Feature Request
- [x] Question

### Brief Intro
We already have `isEmpty` variable in our struct. Why wouldn’t we use it in the `func dequeue()` instead of `head < array.count`?
`guard !isEmpty,` …

[2017-07-06 07:54] #494 closed

[2017-07-09 08:34] superlopuh commented on #493
The BitSet one. While it explains the concept really well, there are a few details that I'm not super happy with. I feel that the whole thing could improve by the `BitSet` being a `RangeReplaceableCollection` with more familiar subscripting behaviour, as well as a reformulation of what a word is, since it's not 64 bit on all platforms.

I'd like to make it clear that this isn't a list of complaint

[2017-07-09 12:28] hollance commented on #493
My 2 cents as the original author:

- I think it's great to make these collections more like Swift built-in collections, so making it a `RangeReplaceableCollection` sounds like a good idea. However, it may not make sense to do this right from the beginning (or maybe it does). In any case, I think it's useful to explain only one concept at a time, to avoid confusing the reader (not everyone will kn

[2017-07-09 21:29] superlopuh commented on #493
Awesome hearing that from you, I'll have a go at it, and see where it takes me.

[2017-07-09 22:50] briancordanyoung commented on #245
@aquarchitect What happened to this pub work?  Did you get any auto generation working? I'd love to understand Pandoc well enough and make sure the epub can be generated.  Are there any scripts?

[2017-07-10 12:29] #491 closed

[2017-07-16 01:31] kelvinlauKL commented on #493
Sounds good. Open a new PR when you want a review.

[2017-07-16 01:31] #493 closed

[2017-07-16 01:31] #490 closed

[2017-07-16 10:27] #462 closed

[2017-07-24 07:45] kelvinlauKL opened #507 "Swift 4 Migration"
# Update

Thanks everyone for helping out with the migration! Another year, another migration complete :]
___

It's that time of the year again. Swift 4 is imminent, so it's time to begin migration. Swift 3 to Swift 4 has been relatively painless compared to other years, so things should go rather smoothly!

## Migration Procedure:

1. Choose a topic below that hasn't been checked off
2. Check the

[2017-07-24 19:52] shabirjan commented on #507
Hi i want to contribute in this task.

[2017-07-24 20:29] kelvinlauKL commented on #507
@shabirjan Cool. I've updated the issue to include the steps you'd want to do.

[2017-07-25 00:32] bobdel commented on #507
There are no pull requests as of yet "claiming" items, correct? I was looking for an example of how to do one.

Also, I suggest adding the following code to each of the playgrounds: Either that, or just the comment either in the code or the readme so its instantly obvious which items are up to date from inside the playground.
[code]

[2017-07-25 02:38] kelvinlauKL commented on #507
@bobdel That's actually a good idea!

[2017-07-25 12:34] coolbnjmn commented on #507
I've claimed 2Sum with this PR: https://github.com/raywenderlich/swift-algorithm-club/pull/513

@kelvinlauKL lmk if I need to fix up anything in that until it's ready (should be quite shortly, just didn't want any duplication of effort :D ).

[2017-07-25 17:09] coolbnjmn commented on #507
@kelvinlauKL PR #513 is ready to go, I didn't put the `#ifdef` but I used it to just sanity check. I added the comment with the exact build number I used (beta4) to check. If this is all that's needed, I'll attack another soon but this one needed no changes. PR only added the comment that it was checked in Xcode9b4. Not sure if I'm missing something though, lmk!

[2017-07-26 17:55] shabirjan commented on #507
@kelvinlauKL  PR [#516](https://github.com/raywenderlich/swift-algorithm-club/pull/516) claimed Bucketsort and is ready to go :)

[2017-07-30 03:50] remlostime commented on #507
Bubble sort has no implementation. We are good to mark it as done.

[2017-07-31 20:45] shabirjan commented on #507
#545 AVL tree is updated for Swift 4.

[2017-08-01 14:08] remlostime commented on #507
@shabirjan I already updated the DFS.

[2017-08-02 01:58] KelCodesStuff commented on #507
I would like to work on the Binary Search Tree but I am unable to make a PR.

[2017-08-02 04:52] remlostime commented on #507
@KelCodesStuff Actually I already sent the binary search tree diff.

[2017-08-05 07:53] danielStokowski commented on #507
#580

[2017-08-08 19:04] vuinguyen commented on #507
Hi @kelvinlauKL ! I'm new to the Swift Algorithm Club, but would love to help! Are there any left that I can help update to Swift 4? Also, I'm a bit rusty since I haven't done algorithms since my CS grad school days (although I'm sure I can pick it again :) ). Let me know what you think!

[2017-08-09 04:39] remlostime commented on #507
@vuinguyen Check all PRs in the comment, make sure you don't repeat work. I believe you can work on QuadTree. It seems that no one works on it. Actually convert to swift 4 does not need too much algorithm background. Just make sure the syntax is correct. Download Xcode 9 and then run the algorithm. That's it. Also, feel free to pick some simple algorithms to read first to ramp up like bubble sort,

[2017-08-09 14:09] vuinguyen commented on #507
@remlostime Thanks for your advice! I will work on QuadTree then, if no one else is doing it.

[2017-08-18 06:34] shabirjan commented on #507
@remlostime is there any algorithm left for Swift 4 Conversion?

[2017-08-18 21:18] remlostime commented on #507
@shabirjan Only few left. You can check the PR I pasted here and pick the one doesn't exist.

[2017-08-18 21:37] kelvinlauKL commented on #507
@shabirjan made quite a few merges just now. The list should better reflect what's left. Thanks for the efforts guys!

[2017-08-22 12:50] Desgard opened #591 "About the segment tree - Interval Update Operation"
### Category

- [ ] Bug
- [x] Feature Request
- [x] Question

### Brief Intro

At the beginning, I wanted to add the Interval Update Operation in segment tree. But I found it applied to generics. So I can't program for some special situation.

But the interval update operation is important for segment I think.

So can I make a new segment tree to deal with mathematical problems? Just to support `I

[2017-08-22 14:15] kelvinlauKL commented on #591
Could you explain some of the changes you're going to make? We've had requests to rewrite topics before, but our stance is to not allow for updates unless it is clear that the new version is **much** better.

It takes a lot of time and effort to write one. To respect the authors, we want to set the bar for a rewrite high. I'm not familiar with the significance of the "update operation". In general

[2017-08-23 04:10] Desgard commented on #591
@kelvinlauKL I have completed a demo for this update operation. It is order to **a range**.

In this case, it is **[0, 3]** this range.

[code]

[2017-08-23 04:15] Desgard commented on #591
I only programed for `SumSegmentTree`, but it can be extended by fixing the `pushDown` function and the meaning of `lazyValue`.

And in my opinion, the most important operations of the **Segment Tree** are `pushUp` and `pushDown`. This can make our **Segment Tree** sustainable, which means `query` many times and `update` many times.

😊

[2017-08-23 19:25] kelvinlauKL commented on #591
I just gave the original Segment Tree a read. It does a good job explaining what it's good for and how to solve it.

How do you feel about appending this information to the current article? You could start off something like this:

[code]

You can then talk about the importance of the `update` operation and demo how it works.

[2017-08-26 15:30] remlostime commented on #507
GCD has been updated already.

[2017-08-27 00:41] remlostime commented on #507
Segment Tree has been updated already.

[2017-08-27 01:02] remlostime commented on #507
@kelvinlauKL I didn't see Dijkstra algorithm in the codebase. Could you point out where it is?

[2017-08-27 01:33] remlostime opened #604 "Master Branch Build Error"
### Category

- [x] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro

Master branch fails now.

### More Details

[2017-08-28 02:38] Desgard commented on #591
I have written a article for the topic of this issue. And I will translate it to an English article recently. 😁

[2017-08-28 13:49] kelvinlauKL commented on #604
Thanks for the fix!

[2017-08-28 13:49] #604 closed

[2017-09-09 15:20] remlostime commented on #591
Is there a PR for this issue? @Desgard

[2017-09-09 15:25] Desgard commented on #591
@remlostime https://github.com/raywenderlich/swift-algorithm-club/pull/611

I forget to associate this issue in commit message.... sry.

[2017-09-17 04:09] jmoyers opened #614 "Dijkstra running time"
### Category

- [ ] Bug
- [ ] Feature Request
- [x] Question

### Brief Intro

Heya,

Just wanted to point out that current Dijkstra implementation is O(n^2) (I believe). It has a good explanation and visualization of the core concept, but is lacking the data structure to make it the more modern E log V running time.

1) The vertex storage is a Set (which are unordered, but unique in Swift)

https

[2017-09-17 18:34] mrabins opened #615 "Insertion Sort for Swift 4"
### Category

- [X ] Bug
- [ ] Feature Request
- [ ] Question

### Brief Intro
This is an update to the insertion Sort algorithms for swift 4. Basically, the swap either changed as far as the "grand renaming" or it's overloads in 4 changed slight. Below is the exact code updated for the Swift 4 using xCode Version 9.0 beta 6 (9M214v)

### More Details

[code]

[2017-09-17 19:06] #615 closed

[2017-09-17 19:06] mrabins commented on #615
Will make change and create a PR.

[2017-09-18 03:12] kelvinlauKL commented on #614
Thanks for making a note of this. I'll write that into #316 for contributors to be aware of.

Cheers!

[2017-09-20 07:44] kelvinlauKL commented on #591
Closing since we've got a PR for it already 👍

[2017-09-20 07:44] #591 closed

[2017-09-20 07:45] kelvinlauKL commented on #507
We're done... just in time for Swift 4! Thanks everyone!

[2017-09-20 19:02] remlostime commented on #507
Awesome! Time to party! :)

[2017-09-22 14:33] rwenderlich commented on #507
Congratulations everyone - this community rules! 🎉

[2017-09-24 06:05] remlostime opened #622 "PR review speed"
### Category

- [ ] Bug
- [ ] Feature Request
- [x] Question

### Brief Intro

Idea about solving the speed of reviewing PR

### More Details

It seems that currently reviewing PR speed is kind of slow. Want to create this issue to get some feedback about the speed of reviewing PR.

[2017-09-24 06:09] remlostime commented on #622
Here are some ideas how to solve it.
* Add more reviewers
* Get a plan for each week or each month. How many PRs need to be reviewed. We can rank the importance of PRs. Like fatal bug, new features, small issues, PR waiting time etc. Based on the rank to clean up PRs in the queue.

@kelvinlauKL @rwenderlich @vincentngo

[2017-09-25 14:24] kelvinlauKL commented on #622
@remlostime Thanks for bringing this up, you've brought up good points.

As the repo gets more popular, we'll be adding more reviewers. Traffic certainly has picked up lately. We generally plan for a couple of PRs per week per reviewer, but the Swift 4 migration created a backlog of things for us to take a look at.

I do acknowledge the need for a more speedy resolution to resolve the bucket of PR

[2017-09-28 19:23] #507 closed

[2017-09-28 19:23] #485 closed

[2017-09-29 22:10] remlostime commented on #622
@kelvinlauKL Thanks for the reply. That helps.

[2017-10-02 16:58] MarcoSantarossa opened #627 "Cache LRU implementation"
### Category

- [ ] Bug
- [x] Feature Request
- [ ] Question

### Brief Intro

Hi there! I've recently implemented a Cache LRU with Swift. I had a look at your implementation and I see that you guys are using two dictionaries and a linked list. I would suggest a version with only a dictionary and a doubly linked list. It would save space complexity. Moreover, this version is suggested in several t

[2017-10-02 19:43] kelvinlauKL commented on #627
Hi Marco,

Great suggestion. I approve :]

[2017-10-02 21:05] MarcoSantarossa commented on #627
Perfect, thank you! I'll work on it asap!

[2017-10-05 05:03] #627 closed

[2017-10-05 05:03] #622 closed

[2017-10-07 03:24] kelvinlauKL commented on #475
Yep that makes sense! I'll add this as a TO-DO item.

[2017-10-07 05:30] vincentngo commented on #478
@alexbredy you are right, there is a potential for the element you are removing to be shifted before! Good catch! We should just delete the element after we swap it before performing the shift operations. Do you want to submit a PR for this?

[2017-10-07 20:17] kelvinlauKL commented on #487
Fixed by #630

[2017-10-07 20:17] #487 closed

[2017-10-07 20:18] kelvinlauKL commented on #475
Fixed in #631

[2017-10-07 20:18] #475 closed

[2017-10-07 20:26] kelvinlauKL commented on #458
I apologize for the late reply on this issue. Since this issue is a couple months old, I'm closing this issue.

If this still concerns you, please feel free to reopen the issue and I'll make sure to follow up with it. Thanks!

[2017-10-07 20:26] #458 closed

[2017-10-07 20:27] #36 closed

[2017-10-07 20:33] kelvinlauKL opened #632 "Improve Big O explanations"
### Brief Intro

Add examples for Big O notation

### More Details

Our article [here](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Big-O%20Notation.markdown) is a brief guide on Big O notation. It would be helpful for beginners if we added snippets of code as an example for each case.

[2017-10-07 20:34] kelvinlauKL commented on #614
Reopened for Hacktoberfest contributions!

[2017-10-07 20:35] kelvinlauKL commented on #316
Closed to follow Hacktoberfest conventions.

[2017-10-07 20:35] #316 closed

[2017-10-07 20:36] kelvinlauKL commented on #363
Reopening for Hacktoberfest contributions!

[2017-10-07 20:37] kelvinlauKL commented on #312
Reopening for Hacktoberfest contributions!

[2017-10-07 20:38] kelvinlauKL commented on #317
Closing to follow hacktoberfest's conventions.

[2017-10-07 20:38] #317 closed

[2017-10-07 22:00] mnespor commented on #478
I tried to come up with a failing test and couldn't. I think `shiftUp(index:)` can only affect elements with index not greater than `index`, and `shiftDown(index:heapSize:)` can only affect elements with index not greater than `heapSize`? Here, `elements.count - 1` is passed as `heapSize`, which seems to leave the last element untouched always.

[2017-10-07 22:57] aleph7 commented on #614
The data structure to use for this is the HashedHeap, see the [implementation of A*](https://github.com/raywenderlich/swift-algorithm-club/pull/633)

[2017-10-08 03:25] nb2998 commented on #632
I would like to work on this.

[2017-10-08 03:28] kelvinlauKL commented on #632
@nb2998 Thanks for volunteering! If you need any help, leave a note in this issue to let others know. Otherwise, make sure you create a PR right away to let others know that you're working on it.

Looking forward to it!

[2017-10-08 03:34] nb2998 commented on #632
Thanks! I wanted to know if the code snippets for each case should be provided in the table itself or after the table?

[2017-10-08 04:08] kelvinlauKL commented on #632
The table looks packed already, so I would put it after the table. Perhaps even in a new section. The table serves as a quick reference for those that just need a refresher.

We could iron down the finer details of the layout once we got a draft going. Thanks again for picking this up!

[2017-10-08 05:42] #632 closed

[2017-10-08 22:37] vincentngo commented on #478
@mnespor take a look at this example. Let say we remove at index 0.

<img width="431" alt="screen shot 2017-10-08 at 6 33 47 pm" src="https://user-images.githubusercontent.com/1634736/31321669-3fa647f4-ac57-11e7-9e9f-0b306638f81c.png">

So we swap root element with the last.

Perform the shift downs. You will notice that 10 is swapped with 5. Removing the last element will return 5.

So in this ca

[2017-10-09 01:06] mnespor commented on #478
I think the key is the argument passed to `shiftDown()`. In the first test, I've made a modified version of `removeAt()` here that calls `shiftDown()` with `h.elements.count` instead of `h.elements.count - 1` and it behaves like your example:

![image](https://user-images.githubusercontent.com/725618/31322797-9e5790b2-ac63-11e7-83d2-c91e0093f1c4.png)

The existing `removeAt()` implementation gets

[2017-10-09 01:58] vincentngo commented on #478
@mnespor Sounds good, thanks for creating these test cases! Makes sense! I'll be closing this issue since it's not a bug.

[2017-10-09 01:58] #478 closed

[2017-10-09 10:41] JaapWijnen commented on #363
Aren't quad trees already implemented? So this applies to R, R*-trees right? Maybe an octree is also a nice addition.

[2017-10-09 14:53] kelvinlauKL commented on #363
Updated, thanks @JaapWijnen

[2017-10-09 15:50] JaapWijnen commented on #363
Added an octree with #635

[2017-10-16 12:12] JaapWijnen commented on #312
The version we have now is in fact an implementation of the Boyer-Moore-Horspool algorithm. I could make a PR to rename it and remove the optionality of applying the Horspool improvement. Then if I can find some time I'll make the Boyer-Moore including Galil implementation. What do you think @kelvinlauKL ? see https://en.wikipedia.org/wiki/Boyer–Moore–Horspool_algorithm for the difference

[2017-10-17 02:22] fanglichun opened #639 "can't search 55"
### Brief Intro
let testArray = [1, 2, 3, 65, 55, 100]
binarySearch(testArray, key: 55)
I always get nil
And I must sort the testArray then I always get correct result.
When in  big data scene, do I must sort the array and query the value? I think it is not a good idea.

### More Details

[2017-10-17 03:40] kelvinlauKL commented on #639
Hey @fanglichun, just to make sure, are you referring to the code for [binary search](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Binary%20Search/BinarySearch.playground/Contents.swift)?

[2017-10-17 03:49] kelvinlauKL commented on #639
It makes sense to me that you get `nil`.

**Binary Search** by definition *only* works on pre-sorted data. If your data is not sorted, you would not use binary search to do it.

Linear Search is `O(n)` in sorted/unsorted data.

Binary Search is `O(log n)` in sorted data, but doesn't work at all for unsorted data.

[2017-10-17 04:44] fanglichun commented on #639
I got it, thank you very much.

[2017-10-17 05:21] #639 closed

[2017-10-17 16:45] aquarchitect opened #640 "Github Page?"
### Brief Intro

This [GitHub Page](https://aquarchitect.github.io/swift-algorithm-club/) is my second attempt to create something easier to read all of these wonderful algorithm articles.

### More Details

I wrote a [bash script](https://github.com/aquarchitect/swift-algorithm-club/blob/gh-pages/gfm-render.sh) to generate HTML automatically, which ultimately can be integrated into Travis CI.

My

[2017-10-18 03:26] KelCodesStuff opened #641 "Dijkstra's Algorithm vs A*"
### Should developers forget about Dijkstra's Algorithm?

Should Dijkstra's Algorithm be replaced with A* in the Swift Algorithm Club and forgotten in general since A* is a faster variation?

Or do you think Dijkstra's Algorithm is good when first learning about pathfinding?

Also from what I've seen, A* will default to Dijkstra's Algorithm based on the heuristic function used? Is this correct?

[2017-10-18 11:24] badapple47 opened #642 "how to run APSP ?"
### Brief Intro
I try to run  APSP with APSP.xcworkspace  and APSP.playground but both not working seem it missing such module 'Graph' or I did something wrong?

<img width="1252" alt="screenshot 2017-10-18 17 58 51" src="https://user-images.githubusercontent.com/21506010/31716350-9377a076-b431-11e7-8893-dddc5684c0f7.png">

[2017-10-18 20:05] kelvinlauKL commented on #642
I opened the workspace and built it. Runs for me.

[2017-10-18 20:06] kelvinlauKL commented on #641
Good question!

I think Dijkstra's should stay. A* isn't taught in introductory algorithm courses (in my school).

[2017-10-18 22:13] JaapWijnen commented on #641
I say let it stay but do reference A* in the readme as a faster variation.

[2017-10-18 22:26] JaapWijnen commented on #642
That's the point. You should open the workspace and not just the playground @badapple47

[2017-10-19 17:39] barrypress opened #645 "Graph - AbstractGraph<T>(fromGraph graph: AbstractGraph<T>) drops unlinked vertices"
### Brief Intro

The method AbstractGraph<T>(fromGraph graph: AbstractGraph<T>) in [Graph.swift](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Graph/Graph/Graph.swift) does not produce a complete copy of the source graph.

### More Details
Currently the method looks like this (lines 14-21, ):
[code]
Because it only generates vertices in the new graph linked to an edge, it drops

[2017-10-20 05:44] kelvinlauKL commented on #645
Thanks for bringing this up. @vincentngo could you take a look at this?

[2017-10-20 05:46] kelvinlauKL commented on #640
Sounds like a great addition. What kind of maintenance effort would be required to have this feature?

[2017-10-20 14:03] JaapWijnen commented on #312
Have been playing around with it a bit. But I have to say due to the way that strings are implemented in Swift it isn't easy to implement these elegantly. Unfortunately I don't have the time to really dig into it anytime soon. So if anyone else is interested go ahead!

[2017-10-20 16:08] kelvinlauKL commented on #312
Thanks @JaapWijnen :)

[2017-10-20 16:30] aquarchitect commented on #640
@kelvinlauKL It would be very little to none. The idea is to get it working and hopefully you can forget about it.

The feature involves the following files:
- [gfm-render.sh](https://github.com/aquarchitect/swift-algorithm-club/blob/gh-pages/gfm-render.sh) to render Markdown into HTML.
- .travis.yml with a modification to execute the script above.

I hope my answer addresses your concerns.

[2017-10-20 17:46] kelvinlauKL commented on #640
Sounds good. Looking forward to the PR!

[2017-10-26 21:49] Dario-Gasquez opened #651 "LinkedList: append node method creates an extra node instance"
### Brief Intro
In LinkedList's current implementation the append node method generates an additional node instance 'newNode' which may not be needed (if the received node argument is used instead).

### More Details
[code]

[2017-10-27 05:50] dmarnel opened #653 "comb sort fails with certain input."
The following array of integers is not sorted into ascending order correctly:
[400,300,520,100,110,500,60,100,250,460,470,90,340,216,411,378,158,38,272,272,378,216,470,520,60]

I believe the wikipedia pseudo code continues the sort loop if there is a swap, even if gap == 1.

[2017-10-27 06:36] kelvinlauKL commented on #653
Thanks for letting us know!

[2017-10-27 10:58] badapple47 commented on #642
@kelvinlauKL @JaapWijnen  Thank for the answer.  but how can I migrate .framework (which get from DerivedData) to my ios project

I try import APSP.framework & Graph.framework to my project but this error appear
"Module file was created for incompatible target x86_64-apple-macosx10.11: /Users/st4rboy/Desktop/testframework/testframework/APSP.framework/Modules/APSP.swiftmodule/x86_64.swiftmod"

[2017-10-27 16:49] kelvinlauKL commented on #642
It looks like you're trying to import the framework into an iOS project.

Your error just means you're trying to target an architecture other than x86_64, which is for mac apps.

I presume you want to target iOS, which operates on arm_64. You'd have to use something like libtool to convert it into one.

I _think_ Carthage can also help you out with this. Please note that this repo isn't built for

[2017-11-13 21:36] JaapWijnen commented on #641
@kelvinlauKL I think we can close this do you agree?

[2017-11-13 22:06] kelvinlauKL commented on #641
@JaapWijnen Yep.

[2017-11-13 22:06] #641 closed

[2017-11-16 15:57] #642 closed

[2017-11-19 05:57] newbazz commented on #653
@dmarnel i ould like to add a linter support which works on all the editors named "coala", this is a part of my winter project, can someone guide me.

[2017-11-20 05:33] roselma opened #659 "SplayTree.remove is broken"
In this example, remove never returns.

        var tree = SplayTree<Int>()
        tree.insert(value: 0)
        tree.insert(value: 2)
        tree.insert(value: 3)
        tree.insert(value: 4)
        tree.insert(value: 7)
        _ = tree.search(value: 2)
        tree.remove(value: 2)

In this example, the value 4 disappears from the tree after 0 and 2 are removed.

        var tree = SplayTre

[2017-11-20 08:08] kelvinlauKL commented on #659
Verified to be a bug. Thanks for letting us know!

[2017-11-27 04:01] shyh5 opened #667 "Binary Search , The index value cannot be obtained"
### Brief Intro

### More Details
'''
func binarySearch<T: Comparable>(_ a: [T], key: T, range: Range<Int>) -> Int? {
    if range.lowerBound >= range.upperBound {
        // If we get here, then the search key is not present in the array.
        return nil

    } else {
        // Calculate where to split the array.
        let midIndex = range.lowerBound + (range.upperBound - range.lowerBound)

[2017-11-27 08:47] hollance commented on #667
Binary search only works on sorted arrays. Your array is not sorted.

[2017-11-27 23:04] aquarchitect commented on #640
For further discussion on the topic, please refer to #647.

[2017-11-27 23:04] #640 closed

[2017-11-28 09:40] shyh5 commented on #667
o。o thank you！！！！I didn't notice that.....☺  I am a rookie，thank you  very much

[2017-12-01 17:25] n0an opened #668 "QuickSort pre shuffle array"
### Brief Intro

Maybe it's worth to mention in QuickSort article, that you should shuffle input array before sorting it by QuickSort algorithm.

### More Details
QuickSort best practice is to always shuffle input array before sorting, to get right performance O(n log n).
Because If input array is already sorted, or almost sorted, QuickSort performance will be quadratic - O(n2).

[2017-12-01 19:10] aquarchitect commented on #245
Hey @briancordanyoung,

I've tried both __Pandoc__ and __Calibre__ to generate ePub from Markdown, but they don't look good.
- __Pandoc__ renders the code block nicely with monospace font, but it's missing the code highlight. I read some where that it currently does not have support for Swift highlight.
- __Calibre__ renders the code block with syntax highlight, but the font all appears very weird

[2017-12-02 09:01] hollance commented on #668
Doesn't that depend on how you choose the pivot element, i.e. choosing the pivot randomly achieves the same thing as shuffling the array first.

[2017-12-02 09:11] ShannonChenCHN opened #669 "Some thoughts on the implementation of AVL Tree's height"
### Issue Detail

When I tested the [AVL Tree](https://github.com/raywenderlich/swift-algorithm-club/blob/master/AVL%20Tree/AVLTree.swift) class like the code below:

[code]

So I got a tree like this(so the height of this tree is 2):
[code]

But the console output says the height of the root node(key is 4) is 3, according to our implementation:
[code]

It seems like the height calculation for an

[2017-12-02 21:14] kelvinlauKL commented on #669
Good catch.

The current implementation didn't account for the case where a node had `nil` children. Please make a PR with this change 👍

[2017-12-02 21:15] kelvinlauKL commented on #667
Closed as resolved!

[2017-12-02 21:15] #667 closed

[2017-12-03 05:09] ShannonChenCHN commented on #669
@kelvinlauKL

Really thanks for providing such a great sources for us to learn algorithm !!

But in the process of learning, I did meet some difficulties, as a beginner. So I just have a small suggestion, wish this could help more learners like me.

To be honest, it's really hard for me to understand the implementation of AVL Tree's rotation. Partly because it seems like our implementation here is

[2017-12-03 07:16] n0an commented on #668
Yes, with random pivot, performance is O(n log n). And actually there's mention about already sorted array:
"Because of the choice of pivot, this performs badly if the array is already sorted"
I'm closing issue 👍

[2017-12-03 07:16] #668 closed

[2017-12-06 02:44] jpv123 opened #672 "Correct way to start learning"
Hi, I'm wondering if there is a list with a suggested order to start learning. Maybe start with linked lists, or dive in to algorithms right in the start and learn data structures after?

Thanks in advance

[2017-12-06 08:19] kelvinlauKL commented on #672
Linked lists are a good topic to start on. When I studied in school, I started with data structures before moving to algorithms. Seemed to work well.

[2017-12-13 01:28] rlziii opened #673 "Shuffle Algorithm Issues"
### Brief Intro

The Fisher-Yates / Knuth shuffle algorithm doesn't include the first index in the array and the swap() function should be changed to the swapAt method.

### More Details

The algorithm should include the first index of the array (index 0), which currently isn't accounted for (instead stopping at index 1).  Also, because of changes in Swift 4, when using the swap() function in this

[2017-12-13 09:00] hollance commented on #673
You're correct about the swap but not about the array index. Read the article for why we stop at index 1.

[2017-12-13 13:08] rlziii commented on #673
Thank you for the reply.  I misunderstood the need for accounting for index 0 and I see now why it isn't necessary.

[2017-12-18 00:08] kelvinlauKL commented on #673
Closed as resolved.

[2017-12-18 00:08] #673 closed

[2017-12-20 16:16] jack3010 commented on #672
@jpv123 You can learn these necessary things:
- Read to know about Big O notation.
- Linked lists (How to build single linked list, doubly linked list, circular linked list?)
- Stack and Queue. ( How to build stack and queue base on the array?)
- Recursion.
- Quick sort and Merge sort
- Hash Table
- Breadth-first Search.
- Deep-first Search.
And don't forget let hand on it.

[2017-12-22 11:42] kelvinlauKL commented on #669
Thanks for the suggestion! We have plans to deliver some polished content in the new year.

[2017-12-22 15:42] aatalyk opened #676 "Tutorial Videos"
### Tutorial videos to explain concepts

_I started series of videos based on Swift Algorithm Club where I will try explain every algorithm and its implementation. Hopefully, I will try to cover as many concepts as possible._

[Swift Algorithm Club on Youtube](https://www.youtube.com/channel/UCfTCT6zbHRaD96fuYungovQ/videos?view_as=subscriber)

###

[2017-12-26 16:14] AamirAnwar opened #677 "Broken youtube link for splay trees"
### Brief Intro
Hey just noticed the youtube video at the end of the splay tree README has been removed
Splay Tree by University of California in Berkeley - CS 61B Lecture 34
https://www.youtube.com/watch?v=G5QIXywcJlY

### More Details
Probably best to replace it?

[2017-12-26 16:19] kelvinlauKL commented on #677
Thanks for letting us know. We should either delete or change it.

[2017-12-26 19:13] AamirAnwar commented on #677
I think we can put this link in it's stead
https://www.youtube.com/watch?v=8Zs1lj_bUV0
I can open a pull request with this change if it's cool 👍

[2018-02-04 12:22] superlopuh commented on #493
Hi, I recently found this in the depths of my todo list and decided to finish the code. Just thought I'd post my implementation here, so you guys can tell me whether you think it's worth writing up.

The only advantage is that the BitSet types now conform to SetAlgebra. I'm not sure if that has that much educational value in terms of the raw algorithm in the end, so I'll leave the decision of whet

[2018-02-07 08:32] gringoireDM opened #690 "Pull requests"
### Brief Intro

Pull requests. are they still reviewed/merged?

### More Details

Hi, I would like to know if there is still maintenance around the PR. I see a big list now waiting for reviews since long time. I opened a pull request myself that add the introsort algorithm (#684 ).

Thank you for any answer.

[2018-02-07 09:04] kelvinlauKL commented on #690
Yeah, we're still here. Sorry for the inactivity. Vacations + prep for RWDevCon has us backlogged for a bit.

[2018-02-08 03:46] aquarchitect opened #691 "Public GitHub Pages?"
### Brief Intro

Public GitHub Pages?

### More Details

@kelvinlauKL @vincentngo I wonder whether we can let everybody knows the web version on GitHub Pages under the repository description.

[2018-02-08 04:11] kelvinlauKL commented on #691
Will do. Thanks for the reminder. On the next SAC update blog this month I’ll make a mention.

Thanks!

[2018-02-08 16:17] aquarchitect commented on #691
Cool.

[2018-02-08 16:17] #691 closed

[2018-02-20 17:35] shibi1306 commented on #651
There is one possibility that since the node is passed as a reference type, it could have the values of **next** pointing some other Node, instead of **nil**. So in the computed properties like **last** will end up parsing values that are not in the list. **You could set the next of parameter node as nil in the beginning**. They chose to copy the value of the node.

They have directly referenced i

[2018-02-20 18:04] kelvinlauKL commented on #651
Good points @Dario-Gasquez @shibi1306.

Here's my take on it:

The current implementation is non-destructive to other objects that share the passed-in `Node`. If we reused the node without making a copy, we'll have to choose between the following two behaviours:

1. As @shibi1306 suggests, modify the `next` property of the passed-in node to `nil`, and append the node.

2. Append the node without m

[2018-03-06 01:54] huangboju opened #694 "Insertion sort performance"
I tested it a faster

a.
[code]

b.
[code]

[2018-03-06 07:30] hollance commented on #694
How did you test it?

[2018-03-08 11:27] csknns opened #695 "Broken internal link in README"
In [Brute-Force String Search](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Brute-Force%20String%20Search/README.markdown) the link to Boyer-Moore is broken it points to non existent [Boyer-Moore](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Boyer-Moore) instead of [Boyer-Moore-Horspool](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Boy

[2018-03-09 00:30] huangboju commented on #694
<img width="972" alt="screen shot 2018-03-09 at 8 27 44 am" src="https://user-images.githubusercontent.com/14818224/37184022-078bcd50-2374-11e8-8f17-a2a6ae60349c.png">

[2018-03-09 08:31] hollance commented on #694
I was looking for answers like these: Is this in release mode? With all optimizations on? On what device? How many times did you repeat the experiment? How big is the difference? Does the size of the array matter? And so on...

[2018-03-14 16:41] #690 closed

[2018-03-14 16:41] kelvinlauKL commented on #695
Thanks for the tip! Will follow up.

[2018-03-30 15:43] StephenClarkApps commented on #677
This should be an easy fix, someone open a pull request for this!!

[2018-03-30 15:45] AamirAnwar commented on #677
Yup i was just waiting for someone to double check the link. Cool if i open a PR with this link??

[2018-03-31 09:10] AamirAnwar commented on #677
Done -> https://github.com/raywenderlich/swift-algorithm-club/pull/704

[2018-04-10 16:51] antoinebell opened #708 "Traveling salesman problem, Big-O notation mistake."
### Brief Intro

In the [A note on Big-O notation](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Big-O%20Notation.markdown) page, there is a small mistake.

In the table of contents, it is written that the traveling salesperson problem needs `O(2^n)` running time but this is not right. It has a running time of `O((n-1)!)` which gets closer to `O(n!)`.

Reference can be found [h

[2018-05-08 17:56] iluvcapra opened #713 "Rabin-Karp: How was this constant determined?"
More of a question than an issue, really. I'm implementing my own version of this for binary searching and wonder if this constant was selected with the assumption that the search string would just be text.

https://github.com/raywenderlich/swift-algorithm-club/blob/898db6fd3f266812be8387a2b2478d5f072cf872/Rabin-Karp/rabin-karp.swift#L24

[2018-05-08 18:51] billbarbour commented on #713
That was a typo.  The hash multiplier is used to help reduce the chance of a hash collision while calculating the hashes.  It is typically a large prime number, but not so large as to overflow your data structures.  My original intent was for that value to be 69061.

[2018-05-08 18:54] iluvcapra commented on #713
Oh awesome, I was wondering why it wasn't prime.  I guess this is a defect ticket then!

[2018-05-08 19:29] billbarbour commented on #713
Yup, ^ PR updates the code.  Thank you for catching this error!

[2018-05-21 13:07] luoqisheng opened #717 "Boyer-Moore-Horspool algorithm implementation is not correctly"
### Brief Intro

[code]

### More Details

[2018-05-31 23:33] robert-dodier opened #719 "Recommend describing how to run examples in Xcode or other environments"
Hi, this collection seems like a very valuable resource, thanks very much for your efforts.

I've read the README, but it's not clear how to run the various projects in Xcode or in some other environment (e.g. command line). I'd like to recommend that in the README you give some advice about how to run the examples, in whatever way you think is most suitable.

For the record, I imported swift-algo

[2018-06-03 04:58] kelvinlauKL commented on #719
Hey there,

The APSP workspace hasn't been properly maintained, so I'm not sure what's going on in there. However, if you open up the individual algorithms and run the playgrounds, there shouldn't be an issue.

[2018-06-05 16:45] aquarchitect opened #720 "GitHub Page"
Hello @kelvinlauKL,

Is there any chance that you can public GitHub Page's link in the repository's description?

Thanks,

[2018-06-05 16:55] kelvinlauKL commented on #720
Open up a PR and I'll gladly add it in! @aquarchitect!

[2018-06-06 15:54] aquarchitect commented on #720
@kelvinlauKL, I am thinking of adding the link, [http://raywenderlich.github.io/swift-algorithm-club/](http://raywenderlich.github.io/swift-algorithm-club/), right to the repository's description like the screenshot I attached below.

<img width="1036" alt="screen shot 2018-06-06 at 8 45 08 am" src="https://user-images.githubusercontent.com/8365795/41049889-c55f9bda-6966-11e8-97df-31403a655dec.png

[2018-06-07 03:33] kelvinlauKL commented on #720
@aquarchitect I just checked out the link in Mojave dark mode, and I see this:
<img width="985" alt="screen shot 2018-06-06 at 8 32 13 p m" src="https://user-images.githubusercontent.com/11384608/41076899-beae1174-69c8-11e8-93fd-30e6c8674c03.png">

I'm going to hold off adding that link on there. Would you know how to handle this?

[2018-06-07 17:00] aquarchitect commented on #720
@kelvinlauKL I got no idea. The script relies on GitHub rendering engine to convert README to HTML. I don't have Mojave installed to test out myself, but do you have any trouble of viewing a readme document on Mojave?

[2018-06-07 17:27] kelvinlauKL commented on #720
@aquarchitect The README is fine, but the generated html is behaving badly on Mojave.

[2018-06-07 18:55] highborncow opened #722 "next?.previous referencing next itself"
Shouldn't it be "next?.previous = list.last"? Since in the line before next was assigned to list.last?.next

https://github.com/raywenderlich/swift-algorithm-club/blob/bcdd28236d981f8763fdda9ebe41b699ea624579/Linked%20List/LinkedList.playground/Contents.swift#L179

[2018-06-07 21:08] kelvinlauKL commented on #722
Great catch! I agree with what you said.

Please make a PR and I'll merge that fix in 👍

[2018-06-11 17:22] highborncow commented on #722
I may have done something wrong, I forgot to create a new branch and just committed my changes. Now I don't know how to make a pull request :D I'm a beginner in git, what should I do?

[2018-06-11 17:24] kelvinlauKL commented on #722
@highborncow Here's a tutorial that outlines the steps you'll need to do:  https://www.raywenderlich.com/179717/open-source-collaboration-using-git-and-github

[2018-06-11 19:37] highborncow commented on #722
I think I got it right this time, sorry it took so long, this is my first contribution to a git unrelated to my graduation or work. Thanks for the help.

[2018-06-11 19:46] kelvinlauKL commented on #722
No worries. Thanks for noticing the mistake and applying the fix!

[2018-06-11 19:46] #722 closed

[2018-06-11 20:48] aquarchitect commented on #720
Hi @kelvinlauKL,

Can you view this link [https://aquarchitect.github.io/swift-algorithm-club/](https://aquarchitect.github.io/swift-algorithm-club/) if you still have the issue of dark background on Mojave? If it's good to go, I will create a PR.

Thanks.

[2018-06-11 20:52] kelvinlauKL commented on #720
Roger. I'm at work on a non-Mojave computer, so I'll take a look once I get home. Thanks!

[2018-06-12 16:56] robert-dodier commented on #719
Thanks for your reply. After working a little bit more with Xcode + this project, I see now that there is an assumption that the user is going to use the code for the various subprojects in a certain way and not in some other way -- that is to say, there is an assumption built into the project. I recommend that this assumption be stated clearly in the readme.

Specifically what I see is that it is

[2018-06-13 15:40] Deeer opened #725 "It looks like the code in this chapter have some thing wrong"
[code]
The artical is [here](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Kth%20Largest%20Element)

XCode version 9.4

[2018-06-13 17:57] hollance commented on #725
What is the error?

[2018-06-18 20:09] tbhaxor opened #727 "Resolve my code of merge sort"
### Brief Intro

I am new to swift lang family and i have a basic code for your [merge sort](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Merge%20Sort/MergeSort.swift), bug its generating a bug, I want you guys to plz tell me whats the problem and how to resolve it

[code]

### More Details

[code]

[2018-06-18 20:17] iDevPro commented on #727
var c = [Int()] ? => var c = [Int]() ?

[2018-06-18 20:49] tbhaxor commented on #727
@iDevPro after making changes, I got this output
[code]

and the **expected** output is
[code]

[2018-06-18 23:30] tbhaxor opened #728 "Add lapindrome checker"
### Brief Intro

Add a new algorithm, to check if the string is lapindrome or not

### More Details

#### What is lapindrome
[code]
**for example**
1. gaga
2. abccda
3. xyyx

[2018-06-19 00:37] Deeer commented on #725
Is this `random(min:,max:) `a build in func?

[2018-06-19 11:04] iDevPro commented on #727
how you call this method ?

[2018-06-19 11:10] tbhaxor commented on #727
@iDevPro [here](https://gist.github.com/tbhaxor/cdba63ac2050de58b12a716ddadd38ee) you go
my code

[2018-07-25 12:41] pstoehr opened #731 "Simulated Annealing demo crashes"
### Brief Intro

Simulated Annealing demo crashes

### More Details

Crash in code line
    swap(&self.tour[i], &self.tour[j])
with error stack
Simultaneous accesses to 0x103c053c0, but modification requires exclusive access.
Previous access (a modification) started at Test2`Tour.shuffle() + 965 (0x1000033b5).
Current access (a modification) started at:
0    Test2                              0x00

[2018-07-25 12:44] pstoehr commented on #731
Same problem with Xcode Version 10.0 beta 3 (10L201y)

[2018-07-26 20:06] kelvinlauKL commented on #731
Thank you for brining this up @pstoehr!

[2018-07-26 20:06] kelvinlauKL commented on #677
Closed because fix is done!

[2018-07-26 20:06] #677 closed

[2018-08-03 17:56] dynamite8 commented on #731
@pstoehr - I attempted to fix this issue and resolved all the build issues except that I can't test it. Would you be able to try out the changes in my branch?  I fixed it based on Xcode 10 beta version though.

[2018-08-03 19:29] pstoehr commented on #731
Have you already committed the new sources?

[2018-08-03 19:35] dynamite8 commented on #731
Click on the link #733 and you'll see the two files that I updated @pstoehr.

[2018-08-07 03:16] kelvinlauKL commented on #731
The particular error "Simultaneous accesses to <memory address>" suggests it has something to do with the update that happened last year on exclusive memory access:
https://devstreaming-cdn.apple.com/videos/wwdc/2017/402ynph39nk5sn4222/402/hls_vod_mvp.m3u8

(46 min mark)

[2018-08-13 16:57] ProjectDent opened #734 "Linear Regression unexpected results"
I wrote a test around the Linear Regression algorithm, which can be run in Xcode Playgrounds (I've included the Linear Regression algorithm at the top for convenience):

[code]

I expected the results to be `1`, and `3`, respectively.

I've drawn a diagram of this, with points in blue, expected line in green, and actual line in yellow.

<img width="255" alt="screen shot 2018-08-13 at 17 35 16" src

[2018-08-13 17:13] kelvinlauKL commented on #734
Verified this bug.

[2018-08-13 19:05] Harsh061 opened #735 "Stack Machine in Swift"
### Brief Intro
Please add optimal code of Stack Machine in Swift.
A Stack Machine is a type of computer that processes instructions by pushing and popping values to an internal "stack."

### Instruction Format

Our stack machine will take in a series of instructions as a string and process them as individual words. So a sample program might look like "2 3 +".

### Instruction Set

The operations

[2018-08-14 09:38] helele90 opened #736 "heap insert function has bug"
### Brief Intro

The insert method is a wrong implementation
insert function only call shiftup, some situation need shiftdown.
### More Details

example:
Heap = [8, 5, 4, 2]
insert(3)
error: [8, 5, 4, 2, 3]
correct: [8, 5, 4, 3, 2]

[2018-08-14 09:40] #736 closed

[2018-08-15 21:56] kelvinlauKL commented on #734
@ProjectDent #737 addresses this problem. Mind if I ask you to review it?

[2018-08-16 09:04] ProjectDent commented on #734
Asking on StackOverflow, their response was that my expectation that it should follow the green line was incorrect, and that the yellow line is an expected linear regression. The green line would be an orthogonal regression. They may have been wrong, however.

https://stackoverflow.com/questions/51826911/linear-regression-result-not-as-expected-following-simple-test

I think someone who understand

[2018-08-16 10:00] hollance commented on #734
The formula used in this code appears to be the one from https://en.wikipedia.org/wiki/Ordinary_least_squares under "Simple linear regression model". The suggested fix does not appear to be correct because it really does need to be `multiply(xs, ys)` and not `multiply(xs, xs)`.

However, I'm not 100% sure the calls to `average(...)` in the original implementation are always correct, for example `p

[2018-08-17 12:54] hollance commented on #734
FWIW, I think the diagram in this bug report is wrong. The yellow line does not plot the actual output from the given algorithm.

I ran the linear regression in Mathematica on the exact same 4 points and got the exact same answer as the original Swift implementation:

<img width="636" alt="screen shot 2018-08-17 at 14 51 55" src="https://user-images.githubusercontent.com/346853/44267132-5b130000-a

[2018-08-22 08:46] pstoehr opened #738 "Description of the complexity of solution 1 of the Two-Sum Problem"
It is mentioned that the complexity of the first solution is O(n) based on the fact that each element of the array is just accessed once. But for a worst case scenario all elements of the array might be added to the dictionary and it might be checked for all elements whether they are in the dictionary or not.

Is there a guaranty that inserting and testing for existence of an element in a dictiona

[2018-09-29 01:33] #695 closed

[2018-10-03 13:29] kelvinlauKL opened #748 "Swift 4.2 Migration"
### Brief Intro

Every year, we go through the repository to make sure all the `README` and playgrounds are up-to-date with the latest Xcode.

## Migration Procedure:

1. Choose a topic below that hasn't been checked off
2. Check the pull requests to see if anyone is working on your chosen topic
3. Make a pull request to let others know that you're currently working on your chosen topic
4.

**Remo

[2018-10-10 16:30] aquarchitect commented on #720
Hi @kelvinlauKL,

The issue of dark mode has been resolved itself in the official release of Mojave, and it requires no further action.

However, regards to the original issue, I still would love to have the link to GitHub Page version of the repo publicly available under the description (please prefer to my [previous comment](https://github.com/raywenderlich/swift-algorithm-club/issues/720#issuec

[2018-11-11 04:03] bull-xu-stride opened #838 "Bubble Sort Readme Code Issue"
### Bubble Sort Readme Code Issue

The sample code in the Bubble Sort Readme.md file has error.

### Code

Code in the readme file:

[code]

The source code doesn't have the error:

[code]

[2018-11-11 23:32] kelvinlauKL commented on #838
Thank you for flagging this!

[2018-11-13 06:36] tbhaxor commented on #728
@gmotzespina YOU ARE RIGHT

[2018-11-13 15:52] kelvinlauKL commented on #838
Fi

[2018-11-13 15:52] #838 closed

[2018-11-24 13:54] gmotzespina commented on #728
I think my PR hasn’t been merged

[2018-11-24 13:55] tbhaxor commented on #728
@gmotzespina oh yes sorry bro

[2018-11-29 18:56] antonio081014 commented on #694
This is an interesting one.
I used the two `insertionSort` functions, here is a snippet of the test code:

[code]

The result is

Which is the same as @huangboju mentioned above.

Here are few things I need to mention:
1. Use the debug mode, which has no optimizations.
2. Use the same input data.
3. Test on iPad Air.

According to [Swift Doc](https://developer.apple.com/documentation/swift/array/2

[2018-11-29 21:16] hollance commented on #694
It's not that useful to do speed tests in debug mode. ;-) I'm curious what sort of results you find in release mode.

[2018-12-12 21:03] antonio081014 commented on #694
Interesting, under release mode. Here is the result:
A Wins: 0
B Wins: 50
Ties: 0

[2018-12-16 21:50] Heraldk opened #850 "Add bit shift operations to BitSet"
### Brief Intro

I used the BitSet class from this repository as part of an Advent of Code puzzle this year. For the puzzle I required bit shifting operations (<< and >>) so I implemented these. I figured it might be of interest to share back to the algorithm club.

### More Details

You can see my implementation in my fork here: https://github.com/Heraldk/swift-algorithm-club/commit/a2953343f1612

[2019-01-09 05:09] #713 closed

[2019-01-14 08:34] zhouhao27 commented on #363
Is R-tree available now? Thanks.

[2019-01-31 01:09] richard-ash commented on #850
Yea that'd be great thanks! Looking forward to reading the PR 😃

[2019-01-31 08:30] Heraldk commented on #850
Cool :) PR open.

[2019-02-06 21:18] jrtibbetts commented on #850
I don't see a PR for this; I just see a link to a specific commit by @Heraldk.

[2019-02-06 21:19] Heraldk commented on #850
PR here: https://github.com/raywenderlich/swift-algorithm-club/pull/855

[2019-02-08 13:29] simoncozens opened #859 "LRUCache and LinkedList have got out of sync"
### Brief Intro

LRUCache no longer compiles due (I think) to changes in LinkedList.

### More Details

Here's the `insert` method of `LRUCache`:

[code]

I am getting two errors, one at the `priority.insert` line: "Argument labels '(_:, atIndex:)' do not match any available overloads". This is because LinkedList's `insert` has this signature:

[code]

Well, I can fix that by replacing `atIndex` w

[2019-02-25 13:14] bbvch13531 opened #861 "Wrong description and typo."
### Brief Intro

There is wrong description in Linked List and typo in Insertion Sort.

### More Details

In LinkedList.swift
line 70
`assert(index >= 0, "index must be greater than 0")`

This should changed to index must be greater or equal to 0

In InsertionSort.swift
line 25
/// - Parameter array: the array to be sorted, conatining elements that conform to the Comparable protocol

`conatining`

[2019-02-25 21:18] richard-ash commented on #861
Great find, thanks again!

[2019-02-25 21:18] #861 closed

[2019-02-26 17:11] rajbarik opened #863 "Create a Swift Benchmark from BucketSort"
Recently I worked on the ExistentialSpecializer optimization in the Swift compiler (https://github.com/apple/swift/pull/19820, others). BucketSort seems to improve significantly with this optimization. BucketSort has nice protocol usages and I was wondering if it makes sense to make it a Swift performance benchmark. What are the licensing and other issues? Any thoughts?

[2019-03-01 19:02] biscottigelato opened #864 "Keeping a Tail pointer & Count to LinkedList implementation"
Any reason why a tail pointer and/or a count value is not kept in the Linked List implementation? Right now .last will actually traverse through the entire linked list at O(n) just to get at the last node. Appending to the linked list also traverses the entire linked list at O(n). Count will also cause a Linked List traversal at O(n)

Adding a tail pointer and a count value adds O(1) to space and

[2019-03-01 23:26] biscottigelato commented on #864
I am thinking more from the code/implementation perspective. Didn't really consider how this would impact the article. I can also add a blurb about adding tail and count and how that can improve efficiency. But that requires the pre-text of the tail/count code be part of the implementation tho, otherwise it won't make too much sense nor enough of a difference.

[2019-03-02 09:46] hollance commented on #864
But you can show how ro change the implementation to add those things. And then include this as a different Swift file, LinkedListWithTailPointer.swift.

[2019-03-06 23:02] richard-ash commented on #859
Thanks for flagging this! I just pulled the lastest and LRUCache seems to compile ok. Do you mind rebasing from master and trying to again?

Also, note that LRUCache comes with its own implementation of LinkedList, you can find it under `LRUCache.playground/Sources/LinkedList.swift`.

Hope this has been helpful 😄Let me know if there's more I can do to assist

[2019-03-07 07:06] simoncozens commented on #859
OK, so the problem is that LinkedList and LinkedList have gotten out of sync! LRUCache's "own implementation" of LinkedList has different signatures to the LinkedList implementation; LRUCache compiles if you use its own bundled (old) version of LinkedList in a project, but not if you use the one from the LinkedList directory. What I did was grab the `LRUCache.swift` file from LRUCache, find that i

[2019-03-07 13:39] inekipelov commented on #859
[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-07 23:18] edwinbosire commented on #727
Your sort method is too complicated. It also has a bug that discards most the results each time.

The biggest assumption your code makes lies here:
`for _ in 0..<c2` and `for _ in 0..<c1 ` you assume that looping through the smallest array you automatically adds **all** of it's contents to `c`. The truth is only some, or sometimes even none of the elements are added, this is particularly true when

[2019-03-08 07:53] #727 closed

[2019-03-10 08:35] bbvch13531 opened #865 "Return type of BinarySearchTree.predecessor is necessary?"
### Brief Intro

predecessor, successor function in BinarySearchTree

[code]
Is `BinarySearchTree<T>?` necessary? I think `BinarySearchTree?` will fine.
If `BinarySearchTree<T>?` is necessary, would you please let me know the reason why?
If not, I take this issue and make PR.
Thanks 😄 .
### More Details

[2019-03-14 04:20] kelvinlauKL commented on #865
Probably. The author may have forgotten the briefer version. Feel free to make the correction if the compiler agrees with you 👍

[2019-03-14 04:22] kelvinlauKL commented on #863
We operate under MIT, so you're free to use anything here =)

[2019-03-14 04:23] kelvinlauKL commented on #312
Closing inactive issues 👍

[2019-03-14 04:23] #312 closed

[2019-03-14 04:24] kelvinlauKL commented on #363
Doesn't seem like it! Closing this for now.

[2019-03-14 04:24] #363 closed

[2019-03-14 04:26] kelvinlauKL commented on #651
Closing inactive issues 👍

[2019-03-14 04:26] #651 closed

[2019-03-15 02:37] #672 closed

[2019-03-15 02:37] #676 closed

[2019-03-15 02:39] #708 closed

[2019-03-15 02:39] #717 closed

[2019-03-15 02:48] kelvinlauKL commented on #720
Hey @aquarchitect, I took another look at the GitHub page and it doesn't seem to be much of an improvement to the README files.

For now I've added a reference to it to the README!

[2019-03-15 02:48] #720 closed

[2019-03-15 02:50] kelvinlauKL commented on #725
This function is a helper function that the author created in the playground for that topic!

[2019-03-15 02:50] #725 closed

[2019-03-15 03:01] kelvinlauKL commented on #728
Heyo,

I've added some comments to the PR for revisions. For now let's close this issue since there's already a  PR addressing this!

[2019-03-15 03:01] #728 closed

[2019-03-15 03:02] #731 closed

[2019-03-15 03:08] kelvinlauKL commented on #738
Hey @pstoehr!

Inserting and testing for the existence of an element in dictionary is indeed `O(1)`. You can find performance of standard library types in the [official docs](https://developer.apple.com/documentation/swift/dictionary).

[2019-03-15 03:08] #738 closed

[2019-03-15 03:08] kelvinlauKL commented on #850
Closed because merged!

[2019-03-15 03:08] #850 closed

[2019-03-15 16:24] kelvinlauKL commented on #748
Closing since it's time for Swift 5.0 🗡

[2019-03-15 16:24] #748 closed

[2019-03-19 04:29] #865 closed

[2019-03-20 20:03] kelvinlauKL commented on #864
Yup, as you suggested having a tail reference can improve time complexity. The article (and most introductory courses) don't talk about the tail until later on.

It's better for the reader to understand what inefficiencies they have to deal with and why the tail reference is introduced in the first place.

[2019-03-24 04:13] Priyanka- opened #871 "Permission denied"
### Brief Intro

Trying to send a pull request for a minor Swift 4.2 improvement to Kth Largest Element, but getting Permission denied error while pushing my branch to remote(before I can create a Pull Request). Is there a process for getting permission to send pull requests?

### More Details

Tried via both Github Desktop and command line.
On Github Desktop tool - Authentication Failed, "You may

[2019-03-24 18:42] richard-ash commented on #871
Hey @Priyanka-! Thanks trying to make a pull request 😃

Usually what works best for me is to fork the repo first. Then from there you can push your changes to your fork and make a pull request from there by clicking **New Pull Request** -> **compare across forks.**

[2019-03-24 18:57] Priyanka- commented on #871
Ah, thanks @richard-ash , will do!

[2019-03-24 18:57] #871 closed

[2019-03-30 12:08] iWeslie opened #873 "Another version of classic KMP algorithm"
### Brief Intro

I think the [original article](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Knuth-Morris-Pratt) for KMP is not clear enough for understanding the theory and idea of KMP and there may be another version of KMP. Here is the code.

[code]

### More Details

First, we try Brute-Force. Then optimize it by a next array to skip searching index.
So, will this version

[2019-04-01 05:16] iWeslie opened #874 "Longest Common Subsequence Algorithm"
### Brief Intro
Longest Common Subsequence Algorithm [wiki link](https://en.wikipedia.org/wiki/Longest_common_subsequence_problem)

"ABCDBAB" and "BDCABA"

LCS -> "BCBA"

Dynamic Programming:

<img width="624" alt="Screen Shot 2019-04-01 at 1 12 52 PM" src="https://user-images.githubusercontent.com/12584632/55304816-e02aec80-547f-11e9-82ee-25965afd0f4d.png">

c[i,j] stored the length of longest su

[2019-04-08 05:37] ghost opened #876 "The Raft Consensus Algorithm"
### Brief Intro

What is Raft?
Raft is a consensus algorithm that is designed to be easy to understand. It's equivalent to Paxos in fault-tolerance and performance. The difference is that it's decomposed into relatively independent subproblems, and it cleanly addresses all major pieces needed for practical systems. We hope Raft will make consensus available to a wider audience, and that this wider

[2019-09-02 21:30] nickm01 opened #889 "Insertion Sort faster than Merge Sort"
### Brief Intro

I've been looking at the reality of some of these algorithms in swift vs. the general comp sci theory.  My insertion sort appears to be much faster than the merge sort posted here and in the "Data Structures & Algorithms" book.  Does anyone have an explanation?

In both cases I used playgrounds and the "measure" function below times a list of 5000 random numbers.  My insertion sor

[2019-09-03 09:21] hollance commented on #889
Playgrounds are not suitable for doing speed measurements. The only way to get reliable results is to compile the code with optimizations enabled.

That said, the recursive version of merge sort that appends stuff to temporary arrays isn't exactly a speed monster.

Try the bottom-up version from https://github.com/raywenderlich/swift-algorithm-club/tree/master/Merge%20Sort and see how that compare

[2019-09-03 15:07] nickm01 commented on #889
@hollance curious why that is

[2019-09-03 15:14] hollance commented on #889
Playgrounds don't use optimized code, plus they do a lot of extra stuff (like collecting intermediate results and redrawing the screen to show those results). Measuring the speed of a piece of code in a playground only tells you something about how fast that code runs in a playground, not anywhere else.

[2019-09-07 22:36] nickm01 commented on #889
@hollance that explains it.  Thanks.

[2019-09-07 22:36] #889 closed

[2019-10-09 17:09] antonio081014 opened #893 "Performance for this function should be O(n)"
https://github.com/raywenderlich/swift-algorithm-club/blob/81bc0705cac3c1154a5bf248954034d7d532f2cb/Heap/Heap.swift#L215

In this function, index(of:) costs O(n), then remove(at:) costs O(log n), it should be O(n + log n), which would be O(n)

[2019-10-09 17:11] antonio081014 commented on #893
https://github.com/raywenderlich/swift-algorithm-club/blob/81bc0705cac3c1154a5bf248954034d7d532f2cb/Heap/Heap.swift#L215:L221

[2019-10-09 17:12] antonio081014 commented on #893
[code]

[2019-11-11 11:52] fewlinesofcode opened #903 "Red Black Tree algorithm"
### Brief Intro

Seemingly redundant action in `delete(node z: RBNode)` method.

### More Details

Seems like there is no need in these lines. Also the CRLS implementation doesn't have it if I'm not wrong (lines 444-446)
[code]

[2019-11-11 17:02] #903 closed

[2020-01-06 02:20] tedbrosby opened #910 "Optimized Queue doesn't seem to be more efficient than standard Queue"
### Brief Intro

Queue-Optimized.swift uses the `Sequence` function called `contains` to confirm a safe existence of an Index before retrieving the element at the front of the Queue.

### More Details

[code]
The problem is, `contains` is an O(N) operation over the total amount of the Indexes, meaning that Dequeue went from O(N) to O(M) where M is the space complexity of the Index as Integer.

htt

[2020-01-13 02:57] kelvinlauKL commented on #893
Fixed #905. Thanks!

[2020-01-13 02:57] #893 closed

[2020-01-13 03:08] kelvinlauKL commented on #910
Hey, thanks for the suggestion! I see what you're getting at there.

Like you stated, the `contains` method defined by `Sequence` is O(n) by default. However, types can override the default behaviour. In the case of the `Range` type, I wonder if they specialized the `contains` method to give `O(1)` performance.

`Range` requires the values to be `Comparable` and `Strideable`, which means they coul

[2020-01-13 03:12] kelvinlauKL commented on #910
That seems to be the case! Source: https://github.com/apple/swift/blob/da61cc8cdf7aa2bfb3ab03200c52c4d371dc6751/stdlib/public/core/Range.swift#L166

Closing this as resolved, but feel free to reopen if you still feel there's an issue!

[2020-01-13 03:12] #910 closed

[2020-01-14 18:02] kelvinlauKL opened #911 "Topics Wishlist"

[2020-01-14 18:03] kelvinlauKL commented on #876
Listing this in #911

[2020-01-14 18:03] #876 closed

[2020-01-14 18:04] kelvinlauKL commented on #874
Thanks for the suggestion! If you're interested in writing a tutorial about this, feel free to make a pull request and follow our style guidelines

[2020-01-14 18:04] #874 closed

[2020-01-17 03:00] #864 closed

[2020-01-17 03:00] #863 closed

[2020-01-17 03:01] #859 closed

[2020-01-17 03:02] #734 closed

[2020-01-17 03:03] #719 closed

[2020-01-17 03:03] #694 closed

[2020-01-17 03:22] #669 closed

[2020-01-17 03:23] #735 closed

[2020-01-17 03:33] #614 closed

[2020-01-29 23:47] wandonye opened #913 "Bug in KMeans"
The replacing strategy is not working as it supposed to. Most of the time the random j>=k, so you are not replacing at all. What is really needed here is to get a random number between 0..<k.
[code]
Better solution: replace with
[code]

[2020-02-10 00:54] ilqarilyasov opened #915 "Linked List insert method doesn't update tail"
### Brief Intro

Linked List insert method doesn't update tail.

### More Details

Right now implementation doesn't update tail at any point. If you insert new node using `insert(_:, atIndex:)` method at the end of the list and then remove last node using `removeLast()` you will see it will remove not the last node but the node before that.

[2020-02-10 01:19] ilqarilyasov commented on #915
My bad. Looks like you only implemented single linked list.

[2020-02-10 01:19] #915 closed

[2020-02-20 01:36] Ryeagler opened #917 "Use of undeclared type 'KeyValuePair'"
### Brief Intro

Hello, SinglyLinkedList.swift
Use of undeclared type 'KeyValuePair'
In Xcode 11.3.1

### More Details

[2020-02-20 01:40] Ryeagler commented on #917
extension SinglyLinkedList where T : KeyValuePair {

  public func find(elementWithKey key: T.K) -> T? {
    let searchResults = filter { (keyValuePair) -> Bool in
      return keyValuePair.key == key
    }

    return searchResults.first
  }
}

There's something wrong, please update your codes, Thank you.

[2020-02-20 01:49] #917 closed

[2020-03-13 23:35] pcordone opened #919 "Is there a swift package for the algorithms implemented?"
### Brief Intro

Is there a swift package for the code in this github project?  I have created one https://github.com/pcordone/SwiftAlgorithmClub but am wondering if it should be part of this project.

### More Details

If there is a way to get the code as a swift package, please let me know.  I couldn't find a way to do it.  If there isn't and people think it's a good idea to do in this project,

[2020-03-17 09:28] RayZhao1998 opened #920 "Will it be upgraded to Swift5.2?"
### Brief Intro

When will it upgrade to Swift 5.2? Some APIs have been deprecated.

### More Details

If it's in the plan, I'll try to make some PRs to upgrade it to Swift5.2

[2020-03-27 10:37] vades79 opened #921 "Error in Boyer-Moore string search"
### Brief Intro
Original: [link](https://github.com/raywenderlich/swift-algorithm-club/tree/master/Boyer-Moore-Horspool)

### More Details
For some reason, it does not find the line index in Russian.

`let test = "Сам с собой"`
`test.index(of: "собой")` <- is nil

[2020-04-19 00:51] sevilgurkan opened #927 "Swift Algorithm"

[2020-04-19 00:55] #927 closed

[2020-05-08 16:05] l-rettberg opened #931 "Fizz Buzz: Update to 1) add guard, 2) use .isMultiple(of:) and 3) Switch for improved readability"
### Brief Intro

Update to
1) add guard statement to protect against numberOfTurns <=0
2) use .isMultiple(of:) method instead of modulo % operator for improved readability
3) use switch statement to improve readability

### More Details
[code]

[2020-05-16 06:22] #931 closed

[2020-06-19 18:18] erickdelrey opened #938 "Typo in Puzzles > Encoding and Decoding Binart Tree"
### Brief Intro

As title suggests, there’s a typo. Binart should be Binary

### More Details

[2020-07-05 16:36] RobertoMachorro opened #940 "Is SwiftLint supposed to be used for all algorithms?"
### Brief Intro

I see the _install_swiftlint.sh_ script in the root folder and assume that it's meant to check the algorithm implementations. But currently when **swiftlint** is run, it returns:

[code]

### More Details

Is the intent for all algorithms to pass linting? If that is the case, would it be helpful to fix these issues and then to setup a GitHub Workflow / Action to test this in futur

[2020-08-24 19:29] LactoseGK opened #943 "Error in Least Common Multiple algorithm"
### Brief Intro

https://github.com/raywenderlich/swift-algorithm-club/tree/master/GCD
The code fails (fatalError) in various valid scenarios, e.g. lcm(3, 4) --> should be 12.

### More Details

[code]
This is not a division by zero check, nor is it a relevant check for this algorithm.
Would recommend changing to e.g.
[code]

[2020-08-29 18:38] kelvinlauKL opened #944 "New guidelines"
Hey all,

As you may have noticed, we've been overly "relaxed" with our maintenance efforts for this repository in the last little while. After talking with Ray and the other maintainers, we've decided to make some changes that will help make the review process smoother.

Here are the main changes you should expect going forward:

**No more interview solutions**
Over the years, this repository has

[2020-08-29 21:40] richard-ash commented on #659
Merged 👍

[2020-08-29 21:40] #659 closed

[2020-09-08 15:49] Makapre commented on #938
Hi, I would like to work on this issue, but can't find the typo.
The Puzzle part in the README looks fine.

![Bildschirmfoto 2020-09-08 um 17 48 19](https://user-images.githubusercontent.com/17787320/92498984-9bba8900-f1fb-11ea-8aba-0ee4e755c47c.png)

[2020-09-10 19:27] marcopaivaf opened #945 "Binary Search Tree (BST) - Wrong `count` explanation"
Hey!

Thank you so much for putting all this together. Really great stuff!
I just notice a small, minor typo in the BST readme that may confuse people.

In the Binary Search Tree (BST) readme, it describes the `count` variable as follow:

`The count property determines how many nodes are in the subtree described by this node. This does not just count the node's immediate children but also their ch

[2020-09-25 08:34] ialimz opened #947 "Lack of Count Occurrences Algorithm"
### Brief Intro

Algorithm doesn't work if occurrences are in different indexes

### More Details

for example consider using this array:
`let a = [ 0, 1, 1, 3, 3, 3, 3, 6, 8, 10, 11, 11, 3]`

In this case, the algorithm returns 4 yet.
This is because finding difference between upper and lower bounds only works if occurrences pushed continuously

[2020-10-21 11:01] KartikSatoskar commented on #947
To work this solution effectively our array should be sorted. Hence, we can apply binary search to find left/right boundaries of given element in sorted array. As per input mentioned above, binary search can't be applied(since array is not sorted).

To solve this problem of unsorted array we have following approaches:

- Every time when new element gets added into array, blindly sort the array for

[2021-01-14 16:58] rpstro02 opened #959 "Discussing Sub-optimal Solutions To Puzzles"
Would it be accepted to discuss sub-optimal solutions to the puzzles? For example, the following solution for the Two-Sum Problem is the most concise (and perhaps one of the most obvious) but has O(n^2) complexity:

[code]

[2021-01-21 17:51] netgfx opened #960 "BFS and Shortest path, test with 2D array"
### Brief Intro

With how it is currently implemented, how would you propose to test the BFS and/or shortest path with a multi dimension array which consists of non traversable blocks. Does one have to declare edges and neighbours for all points in the grid?

Thanks in advance!

[2021-02-08 13:15] ashishsme14 opened #962 "Any way to reverse Linklist output in Swift"
We need to write swift code using Link List. Conditions are -

func insert(data:Int) insert data to the list and return nothing.
count:Int keep track of the number of the nodes in the link
head:Node holds the first element reference. Just implement inset() and count.

![Question](https://user-images.githubusercontent.com/61864865/107224763-dc822c80-6a3d-11eb-817e-3360a7e57844.JPG)

We had written

[2021-02-12 18:23] #962 closed

[2021-02-14 19:55] alexandear commented on #938
The typo is in the iOS application itself.

![image](https://user-images.githubusercontent.com/3228886/107887492-38055c00-6f0f-11eb-9266-4b1609a57b34.png)

[2021-02-14 20:17] Makapre commented on #938
@alexandear Thank you, but in this repo is no typo, so I guess the fix can't be done by me here in this repo.

[2021-02-18 03:05] jorgeluisrdz19 opened #963 "Submitted pull request https://github.com/raywenderlich/swift-style-guide/pulls"
Submitted pull request https://github.com/raywenderlich/swift-style-guide/pulls

_Originally posted by @benmorrow in https://github.com/raywenderlich/swift-style-guide/issues/68#issuecomment-66828076_

[2021-02-22 10:00] rainbowcardiod opened #964 "LRUCache does not compile with newer Swift"
The compiler is complaining about type mismatches, priority.first is returning the element of the node, while key2node is expecting the node:
`Cannot assign value of type 'KeyType?' to subscript of type 'LinkedList<KeyType>.LinkedListNode<KeyType>?'`
at line  [[1]](https://github.com/raywenderlich/swift-algorithm-club/blob/2fdd8b8be1b3fcd17ad0394053e672f2bd1d3076/LRU%20Cache/LRUCache.swift#L57)

M

[2021-02-28 23:14] dcooley opened #968 "Octree minimumCellSize not used?"
`minimumCellSize` is required to initialise the octree [here](https://github.com/raywenderlich/swift-algorithm-club/blob/master/Octree/Octree.playground/Sources/Octree.swift#L345), but it is never used in the algorithm.

[code]

Is this an oversight?

[2021-04-08 07:58] Duckmolemore opened #972 "About Boyer-Moore-Horspool , are there some mistakes？"
### Brief Intro

To me, Boyer-Moore and Boyer-Moore-Horspool  make no difference, they both skip one character ahead. Because ` max(skipTable[c] ?? patternLength, 1) ` will always be 1 (skipTable[c] == skipTable[lastChar] == 0).
Should skipTable exclude pattern's lastChar? Or am I misunderstand something?

### More Details

[code]

[2021-06-06 16:38] MattGeimer opened #974 "Efficiency of LinkedList.count"
https://github.com/raywenderlich/swift-algorithm-club/blob/5d551049a02cccd00b046937750fd6d736065f76/Linked%20List/LinkedList.swift#L38-L50

Isn't this solution less efficient than having a stored property? The current implementation of `count` seems to be O(n), but can be reduced to O(1) by incrementing or decrementing the value when performing modification operations. For example, the following c

[2021-06-07 09:40] hollance commented on #974
Yes you are correct that this way of keeping the count is inefficient. The LinkedList article points this out too. :-)

[2021-06-07 16:06] MattGeimer commented on #974
Probably should have noticed the note 🙃. Is there any particular reason this implementation is preferred?

[2021-06-07 16:53] hollance commented on #974
Keep in mind that this repo is about explaining how algorithms work, not to give the most efficient implementations possible. So it's useful to demonstrate how to grab the count by iterating through the entire list.

[2021-06-08 19:31] #974 closed

[2021-06-17 12:11] michalnowak061 opened #975 "Minimax with alpha-beta prunning"
### Brief Intro

Hi there 👋🏻

I would like to add an implementation and an example of using the minimax algorithm. It's an algorithm used in games for example in Tic Tac Toe, and many other games in which we are able to assess the state of the game.

Do you think it will be useful?

### More Details

More about algorithm: https://en.wikipedia.org/wiki/Minimax
More about alpha-beta prunning: https:

[2021-07-12 10:48] qiyu56 opened #980 "LinkedList Get Last Node Cost Time NOT O(1) Time."
https://github.com/raywenderlich/swift-algorithm-club/blob/5d551049a02cccd00b046937750fd6d736065f76/LRU%20Cache/LRUCache.swift#L35

[2021-07-12 10:50] qiyu56 commented on #980
[code]

[2021-07-22 16:34] Nomia opened #982 "K-means algo error: use of unresolved identifier Vector"
### Brief Intro
I try to use the K-means algo in my project, but get this error:
`use of unresolved identifier Vector`

### More Details
here is the screenshot
![image](https://user-images.githubusercontent.com/1707818/126675449-653527eb-910b-4765-8b87-e1882f542a3e.png)

[2021-07-22 16:57] Nomia commented on #913
Hi @wandonye

When I use this K-means.swift file, it gives me this error:
`use of unresolved identifier Vector`

Here is the screenshot
![image](https://user-images.githubusercontent.com/1707818/126678465-ff6e3630-7f7a-4079-aa08-56784ff7da20.png)

Is there something that I should declare?
thx

[2021-07-22 17:10] Nomia commented on #982
Finally found it in the `Test/Vector.swift`
hope it helps

[2021-07-22 17:10] #982 closed

[2021-07-23 00:41] Nomia commented on #913
Finally found the `Vector` definition in the `Test/Vector.swift`

Is this kmeans works or do you have a better version?
I tried it, but seems not working

[2021-07-27 03:16] Nomia opened #983 "Tried Kmeans algo, get poor performance on obvious clusters (screenshot attached)"
### Brief Intro
I generated different clusters with `python numpy`
![image](https://user-images.githubusercontent.com/1707818/127089070-76a5a1fc-000e-4963-93ef-7da87cd7b281.png)

then I trained in my Xcode program(code attached in the `More Details` section)
vectors are the points I generated from python numpy for 3 clusters
labels are [0,1,2]

finally, I got the result:
[code]

as you can see fro

[2021-10-25 10:15] ch00ch00ch00 opened #986 "Wrong comment in line 82 in Bloom algorithm"
https://github.com/raywenderlich/swift-algorithm-club/blob/5d551049a02cccd00b046937750fd6d736065f76/Bloom%20Filter/BloomFilter.playground/Contents.swift#L82

It seems that result should be false because string "Hello WORLD" was not inserted

[2021-11-25 02:17] Unversau opened #987 "Me And U"

[2021-12-18 21:08] chipbk10 opened #989 "Queue Optimized - dequeu is not O(1)"
### Brief Intro
Queue Optimized - dequeue is not O(1)

### More Details
[code]
If the condition happens, the complexity will be `O(n/4)` ~ `O(n)`
I think you should use `LinkedList` to implement a `Queue` to archive `O(1)` in all cases of `dequeue`

[2021-12-19 15:56] hollance commented on #989
The text says that it's O(1) on average, or "O(1) amortized". Same as appending to an array. When it happens it's slow but it only happens rarely, so it doesn't matter. (Unless you need a guarantee that it's "never slower than X", which this doesn't give.)

[2021-12-19 16:00] chipbk10 commented on #989
"Same as appending to an array" is not correct. Appending element in array in `Swift` is always `O(1)`. Do you think in `Java` or `Python`, they have the same implementation like we do here for the `Queue`?

[2021-12-19 16:31] hollance commented on #989
Appending an element to a Swift array is also O(1) amortized, which is not the same as O(1).

Just to make it clear: this Queue implementation does not mean to be optimal. It just shows one way that dequeuing can be made faster. Using a linked list would give O(1) dequeuing indeed but comes with other trade-offs.

[2021-12-19 16:32] chipbk10 commented on #989
Can you tell me what is the other trade-offs if we use `LinkedList`?

[2021-12-19 16:39] hollance commented on #989
The advantage of using an array as the backing store for the queue is that this is a contiguous area of memory. That means it's really easy to iterate through the queue (just increment or decrement the index). It also helps with efficient cache access. With a linked list, the nodes are connected with pointers so it's slower to go from one node to the next, plus the nodes could be located anywhere

[2021-12-19 16:55] chipbk10 commented on #989
You are right about appending an element to a Swift array is also O(1) amortized. Thanks for that.

https://developer.apple.com/documentation/swift/array/3126937-append

The trade-off to use `LinkedList` here is the memory cost. It will cost more memory than using an array, because, each node in LinkedList holds data and reference to next. Meanwhile, an array holds only actual data and its index.

[2022-01-06 01:22] #987 closed

[2022-01-06 01:23] chunxige commented on #987
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-01-06 01:24] iiicey commented on #987
邮件已收到。我会尽快回复！祝您一切顺利！兰雨田

[2022-01-06 01:27] kelvinlauKL commented on #989
Memory + the fact that reference types are always stored in the heap. This means every modification to the linked list (such as appending / removing a node) would require a locking operation on the heap. That has a cost to performance - whereas simple values in a Swift array can sit in the stack - which doesn't require a lock

[2022-01-06 10:59] hollance commented on #989
I don't think that appending / removing nodes uses any kind of lock, plus there is no guarantee that a Swift array will be stored on the stack. (Allocating new nodes, however, might require a lock.)

[2022-01-08 07:40] kelvinlauKL commented on #989
Hmm, I was under the assumption that if the array housed "simple" types (i.e. [Int]), then it could be guaranteed in the stack.

[2022-01-19 17:34] l-rettberg opened #991 "Array2D - Enhance to include ability to create 2D array using either [col][row] or [row][col] subscripting."
### Brief Intro

The Array2D algorithm is based on using column then row, ie [col][row] when accessing cells.  Not sure if that is the commonly used approach?  I thought the most common was row, column, ie [row][col], but perhaps that's really up to the developer.

### More Details

Suggest updating the algorithm to include a boolean flag that the caller can define whether the 2D array should be c

[2022-01-26 13:42] amadeu01 opened #992 "[Question] Translation to pt-br"
### Translation to pt-br

We have a huge community in Brazil of iOS developers. But, not all of them are fluent in English, we could make it more accessible to them by translating the content.

Can I make a branch or a section and start the translation of the content?

[2022-03-30 07:13] NickMeepo opened #996 "LinkedList`s removeAll method and default deinit may cause stack overflow"
When triggering removeAll or deinit of very long LinkedList ( like 1...10000000 integers storage)，you will get stack overflow. The  reason is nodes` recursive releasing.

![image](https://user-images.githubusercontent.com/10824752/160771370-98fc8b40-28fb-4f26-89a8-9c07a071ed27.png)

From the image above you will see recursive node deinit pushing into the stack accumulatively and this will cause cr

[2022-04-04 07:59] efemazlumoglu opened #998 "There are some mistakes with the README.markdown and Selection Sampling code improvement"
### Brief Intro

https://github.com/raywenderlich/swift-algorithm-club/pull/997
I have created this PR for that issue, there are some mistakes in the README files and also a little improvement for the Selection Sampling example function.

### More Details

swap(&a[i], &a[r]) can be written like a.swapAt(i, r)
That would be remove the error called "Overlapping accesses to 'a', but modification requ

[2022-05-21 05:24] ser8888 opened #1001 "Swift algorithm"

[2022-05-21 05:24] #1001 closed

[2022-05-21 05:26] iiicey commented on #1001
邮件已收到。我会尽快回复！祝您一切顺利！兰雨田

[2022-07-28 01:51] akshayitccdigital opened #1003 "Swift algorithm"

[2022-07-28 01:52] iiicey commented on #1003
邮件已收到。我会尽快回复！祝您一切顺利！兰雨田

[2022-10-20 09:28] chitgoks opened #1005 "Can the Convex Hull Be Simplified"
This is not an issue. more like a question for

https://github.com/raywenderlich/swift-algorithm-club/tree/master/Convex%20Hull/Convex%20Hull

What is the difference between quickHull() and findHull() ? And quickHul uses findHull

Can this be simplified such that the method accepts an array of  CGPoint and also returns the hull as an array of CGPoint?

[2022-10-20 09:43] #1005 closed